.front-page {

	.recent-posts {

		[class*="v-grid-columns_"] {

			&:not(:last-child) {
				margin-bottom: 3rem;

				@media all and (min-width: $smMinWidth) {
					margin-bottom: 4rem;
				}

				@media all and (min-width: $mdMinWidth) {
					margin-bottom: 6rem;
				}

				@media all and (min-width: $lgMinWidth) {
					margin-bottom: 8rem;
				}
			}
		}

		.v-grid-centered-column-content {

			@media all and (min-width: $smMinWidth) {
				text-align: center;
			}
		}
	}
}