#comments {

	.comments-title {
		border-style: solid;
		border-width: 0 0 2px;
	}

	.comment,
	.pingback {

		&:not(:last-child) {
			border-style: solid;
			border-width: 0 0 2px;
			padding-bottom: 2.5rem;
			margin-bottom: 2.5rem;
		}
	}

	.comment {
		@include fontSmall;

		&.byuser {

			.comment-author {
				position: relative;

				&:after {
					border-radius: 50%;
					content: url("assets/images/icons/byuser-indicator.svg");
					height: 19px;
					left: -2px;
					position: absolute;
					top: -2px;
					width: 19px;
				}
			}
		}

		.comment-body {

			& > *:not(:last-child) {
				margin-bottom: 2rem;
			}

			.comment-meta {

				.comment-author {
					display: flex;
					flex-direction: column;
					gap: 1rem;
					margin-bottom: .25rem;

					.avatar {
						border-radius: 50%;
					}

					.fn {

						a {
							text-decoration: none;
						}
					}

					.says {
						display: none;
					}
				}

				.comment-metadata {
					@include fontSmallest;
				}
			}

			// Adjust markup & formatting for the smaller comment area
			.comment-content {

				ul {
					margin: 0 0 0 1.125rem;
				}

				ol {
					margin: 0 0 0 1.3rem;
				}

				ul,
				ol {
					padding: 0;

					li {

						& ul,
						& ol {
							margin-top: .75rem;
						}

						& + li {
							margin-top: .75rem;
						}
					}
				}

				& > ul,
				& > ol {
					margin-bottom: 1.25rem;
					margin-top: 1.25rem;
				}

				h1, .h1 {
					font-size: 2rem;

					@media all and (min-width: $xsMinWidth) {
						font-size: 2.66666rem;
					}
				}

				h2, .h2 {
					font-size: 1.65rem;
					line-height: 1.3;

					@media all and (min-width: $xsMinWidth) {
						font-size: 2.08333rem;
					}
				}

				h3, .h3 {
					font-size: 1.35rem;
					line-height: 1.35;

					@media all and (min-width: $xsMinWidth) {
						font-size: 1.65rem;
					}
				}

				h4, .h4 {
					font-size: 1.125rem;
					line-height: 1.4;
					text-transform: uppercase;

					@media all and (min-width: $xsMinWidth) {
						font-size: 1.25rem;
					}

					@media all and (min-width: $smMinWidth) {
						line-height: 1.45;
					}
				}

				h5, .h5 {
					font-size: 1rem;

					@media all and (min-width: $xsMinWidth) {
						font-size: 1.125rem;
					}
				}

				p {

					@media all and (min-width: $smMinWidth) {

						&:not(:last-child) {
							margin-bottom: 1.25rem;
						}
					}

					& + h1, & + .h1 {

						@media all and (min-width: $smMinWidth) {
							margin-top: 1.75rem;
						}
					}

					& + h2, & + .h2 {

						@media all and (min-width: $smMinWidth) {
							margin-top: 1.5rem;
						}
					}

					& + h3, & + .h3,
					& + h4, & + .h4,
					& + h5, & + .h5,
					& + h6, & + .h6 {

						@media all and (min-width: $smMinWidth) {
							margin-top: 1.35rem;
						}
					}
				}
			}

			.reply {
				@include fontSmallest;

				.comment-reply-link {
					font-size: 12px;
					padding: 9px 11px;
				}
			}
		}

		.comment {
			border-style: dotted;
			border-width: 0 0 0 2px;
			padding-left: 1rem;
			margin-top: 3rem;

			@media all and (min-width: $smMinWidth) {
				padding-left: 2.25rem;
			}

			&:not(:last-child) {
				border-style: dotted;
				border-width: 0 0 2px 2px;
				padding-bottom: 2rem;
			}

			.avatar {
				height: 36px;
				width: 36px;
			}

			&.byuser {

				.comment-author {
					position: relative;

					&:after {
						height: 15px;
						left: -3px;
						top: -9px;
						width: 15px;
					}
				}
			}
		}
	}

	.pingback {
		@include fontSmaller;
	}

	#respond {

		#reply-title {

			small {
				display: block;

				#cancel-comment-reply-link {
					@include fontSmaller;
					color: #ae1717;
				}
			}
		}

		#commentform {

			.logged-in-as,
			.comment-notes {
				@include fontSmaller;

				.required-field-message {
					display: block;
				}
			}

			.comment-form-comment,
			.comment-form-author,
			.comment-form-email,
			.comment-form-url {

				& > label {
					@include fontSmaller;
					@include headingFont;
					display: block;
					font-weight: 600;
				}

				& input,
				& textarea {
					@include fontSmaller;
				}
			}

			textarea#comment {
				max-width: 650px;
				width: 100%;
			}

			.comment-form-author,
			.comment-form-email,
			.comment-form-url {
				max-width: 400px;
			}

			.comment-form-cookies-consent {

				label {
					@include fontSmaller;
				}
			}

			.required {
				@include fontSmaller;
				color: #ae1717;
				font-weight: 400;
			}
		}
	}
}