.site-header-elements {
	display: flex;
	justify-content: space-between;

	& > * {
		align-self: center;
	}

	.custom-logo-link {

		.custom-logo {
			transition: opacity .2s;
			vertical-align: bottom;
			width: 115px;

			&:active,
			&:focus,
			&:hover {
				opacity: .7;
			}
		}
	}

	.site-title {
		@include headingFont;
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 1;

		a {
			text-decoration: none;
		}
	}
}