.site-header-elements {

	& {
		display: flex;
		justify-content: space-between;
	}

	& > * {
		align-self: center;
	}

	.site-branding {

		.custom-logo-link {

			.custom-logo {
				transition: opacity .2s;
				vertical-align: middle;
				width: 115px;

				&:active,
				&:focus,
				&:hover {
					opacity: .7;
				}
			}
		}

		.site-title {
			@include headingFont;

			& {
				font-size: 1rem;
				line-height: 1;
				text-transform: uppercase;
			}

			a {
				font-weight: 900;
				text-decoration: none;
			}
		}
	}
}

.v-dark-background {

	.site-title {

		a {

			&:active,
			&:focus,
			&:hover {
				opacity: .7;
			}
		}
	}
}