.site-header-elements {

	& {
		display: flex;
		justify-content: space-between;
	}

	& > * {
		align-self: center;
	}

	.site-branding {
		@include headingFont;

		.custom-logo-link {

			.custom-logo {
				height: auto;
				max-width: var(--v-logo-width);
				transition: opacity .2s;
				vertical-align: middle;
			}
		}

		.site-title {

			& {
				font-size: 1rem;
				line-height: 1;
			}

			a {
				text-decoration-style: solid;

				&:active,
				&:focus,
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
