h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	@include headingFont;
	display: block;
	font-weight: 700;
	margin: 0 0 1.25rem;
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	&.has-background {
		border-radius: 10px;
		margin-bottom: 1.5rem;
		margin-top: 2rem;
		padding: .75em 1.125em;

		@media all and (min-width: $smMinWidth) {
			margin-bottom: 2rem;
		}
	}
}

h1, .h1 {
	font-size: 2rem;
	line-height: 1.25;

	@media all and (min-width: $xsMinWidth) {
		font-size: 2.66666rem;
	}

	@media all and (min-width: $smMinWidth) {
		font-size: 3.33333rem;
	}

	@media all and (min-width: $lgMinWidth) {
		font-size: 4rem;
	}

	&.jumbo {

		@media all and (min-width: $mdMinWidth) {
			font-size: 5rem;
		}
	}
}

h2, .h2 {
	font-size: 1.65rem;
	line-height: 1.3;

	@media all and (min-width: $xsMinWidth) {
		font-size: 2.08333rem;
	}

	@media all and (min-width: $lgMinWidth) {
		font-size: 3rem;
	}

	&.jumbo {

		@media all and (min-width: $lgMinWidth) {
			font-size: 4rem;
		}
	}
}

h3, .h3 {
	font-size: 1.35rem;
	line-height: 1.35;

	@media all and (min-width: $xsMinWidth) {
		font-size: 1.65rem;
	}

	@media all and (min-width: $lgMinWidth) {
		font-size: 2rem;
	}

	&.jumbo {

		@media all and (min-width: $lgMinWidth) {
			font-size: 3rem;
		}
	}
}

h4, .h4 {
	font-size: 1.125rem;
	line-height: 1.4;
	text-transform: uppercase;

	@media all and (min-width: $xsMinWidth) {
		font-size: 1.25rem;
	}

	@media all and (min-width: $smMinWidth) {
		line-height: 1.45;
	}

	@media all and (min-width: $lgMinWidth) {
		font-size: 1.5rem;
	}
}

h5, .h5 {
	font-size: 1rem;

	@media all and (min-width: $xsMinWidth) {
		font-size: 1.125rem;
	}

	@media all and (min-width: $lgMinWidth) {
		font-size: 1.25rem;
	}
}

h6, .h6 {
	font-size: 1rem;
	font-style: italic;
}

p {
	margin: 0 0 1.25rem;

	@media all and (min-width: $smMinWidth) {
		margin-bottom: 1.5rem;
	}

	&:last-child {
		margin-bottom: 0;
	}

	& + h1, & + .h1 {
		margin-top: 1.75rem;

		@media all and (min-width: $smMinWidth) {
			margin-top: 2.25rem;
		}
	}

	& + h2, & + .h2 {
		margin-top: 1.5rem;

		@media all and (min-width: $smMinWidth) {
			margin-top: 2rem;
		}
	}

	& + h3, & + .h3,
	& + h4, & + .h4,
	& + h5, & + .h5,
	& + h6, & + .h6 {
		margin-top: 1.35rem;

		@media all and (min-width: $smMinWidth) {
			margin-top: 1.75rem;
		}
	}

	& + .wp-block-image {
		margin-top: 2rem;
	}
}

a {
	text-decoration: underline;

	&:active,
	&:focus,
	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}

blockquote,
address {
	font-style: italic;
	margin: 1.125rem 1.125rem 2rem;

	@media all and (min-width: $smMinWidth) {
		margin-bottom: 2.5rem;
	}

}

.wp-block-quote {
	border-style: solid;
	border-width: 0 0 0 3px;
	margin-left: 0;
	padding-left: 1.25rem;

	@media all and (min-width: $smMinWidth) {
		padding-left: 2rem;
	}

	&.is-style-plain {
		border: none;
		padding: 0;
	}
}

.wp-block-pullquote {
	margin-bottom: 0;
	padding: 3em 1em;
	blockquote {
		margin: 0;

		& > p {
			@include headingFont;
			font-style: normal;
			font-weight: 700;
		}
	}

	&.alignleft,
	&.alignright {
		max-width: 100%;
		width: 100%;

		@media all and (min-width: $xsMinWidth) {
			max-width: 63.5%;
		}
	}
}

.no-sidebar {

	.wp-block-pullquote {

		&.alignleft {

			@media all and (min-width: $lgMinWidth) {
				margin-left: -10rem;
			}
		}

		&.alignright {

			@media all and (min-width: $mdMinWidth) {
				margin-right: -10rem;
			}
		}
	}
}

cite,
q {
	font-style: italic;
}

cite {
	@include fontSmaller;
}

table,
pre,
dl {
	margin: 1rem 0 2rem;

	@media all and (min-width: $smMinWidth) {
		margin-bottom: 2.5rem;
	}
}

hr,
.wp-block-separator {
	border-style: solid;
	border-width: 2px 0 1px;
	margin: 2rem 0;

	@media all and (min-width: $smMinWidth) {
		margin: 3rem 0;
	}
}

.wp-block-separator {
	width: 25%;

	&.is-style-default {
		width: 25%;
	}

	&.is-style-wide,
	&.is-style-dots {
		width: 100%;
	}

	&.is-style-dots {

		&:before {
			letter-spacing: 1em;
		}
	}
}

table {
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;

	th, td {
		border-style: solid;
		border-width: 2px;
		padding: 8px;
	}

	th {
		font-size: 80%;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	td {
		font-size: 90%;
	}

	tfoot {
		font-style: italic;
	}

	caption {
		@include fontSmaller;
		margin-top: .75rem;
	}
}

.wp-block-table {
	margin-bottom: 2rem;

	&.is-style-stripes {
		border-bottom: none;
	}

	table {
		margin-bottom: .75rem;

		th {
			font-weight: 700;
		}
	}
}

.wp-block-calendar {

	.wp-calendar-table {
		margin-bottom: .75rem;

		th, td {
			border-style: solid;
			border-width: 2px;
		}

		th {
			font-weight: 700;
			padding: .25em;
		}
	}

	.wp-calendar-nav {
		@include fontSmaller;
	}
}

pre {
	border-radius: 10px;
	font-size: 85%;
	padding: 1.625rem;

	@media all and (min-width: $smMinWidth) {
		padding: 2.5rem;
	}
}

dl {
	border-radius: 10px;
	padding: 1.625rem;

	@media all and (min-width: $smMinWidth) {
		padding: 2.5rem;
	}

	dt {
		font-weight: 700;
		margin-bottom: .625rem;
	}

	dd {
		font-style: italic;
		margin: 0 0 .625rem 1.25rem;

		&:last-child {
			margin-bottom: 0;
		}

		& + dt {
			margin-top: 1.125rem;
		}
	}
}

ul,
ol {
	margin: 0;
	padding: 0;
}

big {
	font-weight: 600;
}

code,
kbd,
tt,
var {
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 3px;
}

iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {

	figcaption {
		@include fontSmaller;
		font-style: italic;
	}
}

.post-password-form {
	@include fontSmaller;

	label {

		input {
			display: block;
			margin-bottom: 6px;
		}
	}
}

#searchform {
	@include fontSmaller;

	#searchsubmit {
		line-height: 1.2;
		margin-top: 3px;

		@media all and (min-width: $xsMinWidth) {
			margin-top: 0;
		}
	}
}

/* Try to prevent horizontal scroll caused by long, non-breaking text */
.main-content-wrap {
	word-break: normal;
	overflow-wrap: anywhere;
}

/* WP block elements */
.wp-caption,
.wp-block-image {
	max-width: 100%;
}

.wp-block-image,
.wp-block-cover {

	img {

		& + figcaption {
			margin-top: .75rem;
		}
	}
}

.wp-block-media-text {
	gap: 3rem;
	margin: 3rem 0;

	@media all and (min-width: $smMinWidth) {
		gap: 4rem;
		margin-top: 4rem;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.is-stacked-on-mobile {

		.wp-block-media-text__media {
			margin-top: 1.5rem;

			@media all and (min-width: $smMinWidth) {
				margin-top: 0;
			}
		}

		.wp-block-media-text__content {
			padding: 0;
		}
	}
}

.wp-block-image,
.wp-block-cover,
.wp-block-video,
.wp-block-buttons,
.wp-block-audio,
.wp-block-file,
.wp-block-columns,
.wp-block-calendar,
.wp-block-archives,
.wp-block-categories,
.wp-block-search,
.wp-block-social-links,
.wp-block-tag-cloud,
.wp-block-embed,
.wp-block-navigation,
.wp-block-group {

	&:not(.alignleft),
	&:not(.alignright) {
		margin-bottom: 2rem;
	}

	&:not(:first-child) {
		margin-top: 2rem;
	}

	&.alignleft,
	&.alignright {
		margin-top: 0;
	}

	& > label {
		@include fontSmaller;
	}
}

.wp-block-buttons {

	& > .wp-block-button {

		&.is-style-outline {
			background: none;

			.wp-block-button__link {
				border-style: solid;
				border-width: 2px;
				padding-bottom: calc(.8em - 2px);
				padding-top: calc(.8em - 2px);
			}
		}

		.wp-block-button__link {
			line-height: 1;
		}
	}
}

.wp-block-file {

	.wp-block-file__button {
		@include fontSmallest;
		line-height: 1;
	}
}

.wp-block-archives-list,
.wp-block-categories-list,
.wp-block-latest-posts {
	@include fontSmaller;
}

.wp-block-search {

	input,
	button {
		@include fontSmaller;
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			border: none;
			border-radius: 3px;
			padding: 8px;

			.wp-block-search__button {
				padding: 10px 14px;
			}
		}
	}
}

.wp-block-tag-cloud {

	&.is-style-outline {

		a {
			padding: 7px 9px;
		}
	}
}

/* Embeds */
.twitter-tweet {
	@include fontSmaller;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	font-style: normal;
	margin: 0;
	padding: 1.5rem;

	p {
		margin-bottom: .75rem;

		&:last-of-type {
			margin-bottom: 1.125rem;
		}
	}
}

/* Deep nesting to override other strong selectors */
article {

	.entry-content {

		ul,
		ol {

			&.wp-block-archives-list,
			&.wp-block-latest-posts,
			&.wp-block-page-list {
				@include fontSmaller;

				li {
					margin-top: .35rem;

					ul,
					ol {
						margin-top: .35rem;
					}
				}

				&.alignleft {

					@media all and (min-width: $xsMinWidth) {
						margin-right: 1.5rem;
					}

					@media all and (min-width: $mdMinWidth) {
						margin-right: 3rem;
					}
				}

				&.alignright {

					@media all and (min-width: $xsMinWidth) {
						margin-left: 1.5rem;
					}

					@media all and (min-width: $lgMinWidth) {
						margin-left: 3rem;
					}
				}
			}

			&.wp-block-latest-posts {
				margin-left: 0;
			}
		}

		.wp-block-latest-comments {
			@include fontSmaller;
			border-radius: 10px;
			margin-left: 0;
			padding: 1.125rem;

			@media all and (min-width: $smMinWidth) {
				padding: 2rem;
			}

			& > .wp-block-latest-comments__comment {

				&:not(:last-child) {
					margin-bottom: 2rem;
				}

				&:last-child {
					margin-bottom: 0;
				}

				.wp-block-latest-comments__comment-author {
					font-weight: 600;
				}

				.wp-block-latest-comments__comment-date {
					@include fontSmallest;
				}

				.wp-block-latest-comments__comment-excerpt {

					p {
						font-size: inherit;
						line-height: 1.4;
					}
				}
			}
		}

		.wp-block-social-links {
			margin-left: 0;

			li {
				margin-top: 0;
			}
		}
	}
}

/**
 * Override core WordPress .is-stacked-on-mobile breakpoint.
 * 600px is too narrow. 992px is best for this theme based on horizontal spacing.
 */
@media all and (max-width: 992px) {

	.wp-block-media-text.is-stacked-on-mobile {
		grid-template-columns: 100% !important;
	}
	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
		grid-column: 1;
		grid-row: 1;
	}
	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
		grid-column: 1;
		grid-row: 2;
	}
}