#site-navigation {

	#primary-menu {

		.menu-item {
			font-size: 13px;
			font-weight: 600;
			list-style-type: none;
			text-transform: uppercase;

			a {
				@include headingFont;
				display: block;
				text-decoration: none;

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}

		& > .menu-item {

			&.menu-item-has-children {
				position: relative;

				& > a {

					&:after {
						border-right-color: transparent;
						border-style: solid;
						border-width: 0 6px 6px 0;
						content: '';
						display: inline-block;
						height: 0;
						margin-left: 5px;
						position: absolute;
						top: 3px;
						transform: rotate(-45deg);
						width: 0;
					}
				}

				.sub-menu {

					a {
						display: block;
						font-weight: 600;
						letter-spacing: 1px;
						padding: 7px 0;

						&:active,
						&:focus,
						&:hover {
							text-decoration: underline;
						}
					}
				}

				& > .sub-menu {

					& > .menu-item-has-children {

						.sub-menu {

							a {
								font-size: 90%;
								padding: 5px 0 5px 5px;

								&:before {
									content: "- ";
								}
							}
						}
					}
				}
			}
		}
	}

	/* Full desktop navigation */
	&:not(.toggled) {

		#primary-menu {
			display: none;
			flex-direction: row;

			@media all and (min-width: $mdMinWidth) {
				display: flex;
				flex-wrap: wrap;
			}

			.close-menu-modal {
				display: none;
			}

			& > .menu-item {

				&.menu-item-has-children {

					& > a {
						padding-right: calc(.75rem + 11px);
					}

					& > .sub-menu {
						border-radius: 4px;
						box-shadow: 0 0 45px 0px rgba(0, 0, 0, 0.1);
						display: none;
						padding: 7px 1.2rem;
						position: absolute;
						top: 2rem;
						width: 200px;

						& > .menu-item {

							&:not(:last-child) {
								border-bottom: 1px dashed rgba(255, 255, 255, .2);
							}

							&.menu-item-has-children {

								&:not(:last-child) {
									padding-bottom: 4px;
								}
							}
						}
					}

					&.sub-menu-active {

						& > a {
							text-decoration: underline;

							&:after {
								top: 6px;
							}
						}

						.sub-menu {
							display: block;
						}
					}

					&:last-child > a {
						padding-right: calc(0.75rem + 3px);
					}
				}

				&:active,
				&:focus,
				&:hover {

					& > a {
						text-decoration: underline;
					}
				}

				& > a {
					display: inline-block;
					padding: 0 .75rem;
				}

				&:last-child > a {
					padding-right: 0;
				}

				&:last-child,
				&:nth-last-child(2) {

					& > .sub-menu {
						right: 0;
					}
				}
			}
		}
	}

	/* Mobile navigation opener */
	.menu-toggle {
		@include bodyFont;
		@include fontSmallest;
		background: transparent;
		border: none;
		display: inline-block;
		font-weight: 700;
		height: unset;
		letter-spacing: 0;
		text-transform: uppercase;

		&:hover {
			cursor: pointer;
		}

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}

		@media all and (min-width: $mdMinWidth) {
			display: none;
		}
	}

	/* Mobile navigation */
	&.toggled {

		& > [class*="-container"] {
			display: grid;
			height: 100vh;
			justify-content: center;
			left: 0;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition: opacity 0.2s;
			width: 100vw;

			@media all and (min-width: $xsMinWidth) {
				justify-content: flex-end;
			}

			&.menu-modal-active {
				opacity: 1;
				pointer-events: all;

				@media all and (min-width: $xsMinWidth) {
					padding: 1.25rem;
				}

				#primary-menu {
					border-radius: 10px;
					box-shadow: 0 0 75px 20px rgba(0, 0, 0, 0.3);
					display: flex;
					flex-direction: column;
					padding: .5rem 1.25rem 1.25rem;
					position: relative;
					width: calc(100vw - 2rem);

					@media all and (min-width: $xsMinWidth) {
						min-width: 300px;
						width: 40vw;
					}

					.close-menu-modal {
						@include headingFont;
						@include fontSmallest;
						display: block;
						line-height: 1;
						margin-top: auto;
					}

					.menu-item {

						.sub-menu {
							display: none;
						}
					}

					& > .menu-item {

						&:not(:last-of-type) {
							border-bottom: 1px dashed rgba(255, 255, 255, .2);
						}

						&.menu-item-has-children {

							& > a {

								&:after {
									position: absolute;
									right: 0;
									top: 14px;
								}
							}

							& > .sub-menu {
								border-radius: 4px;
								margin-bottom: 1rem;
								margin-top: 4px;
								padding: 7px 1.2rem;
								width: 100%;

								& > .menu-item-has-children {

									&:not(:last-child) {
										border-bottom: 1px dashed rgba(255, 255, 255, .2);
									}
								}

								& > .menu-item {

									&:not(:last-child) {
										border-bottom: 1px dashed rgba(255, 255, 255, .2);
										padding-bottom: 4px;
									}
								}
							}

							&.sub-menu-active {

								& > a {
									text-decoration: underline;
								}

								.sub-menu {
									display: block;
								}
							}
						}

						& > a {
							padding: 8px 0;
						}
					}
				}
			}
		}
	}
}

.logged-in {

	#site-navigation {

		&.toggled {

			& > [class*="-container"] {

				&.menu-modal-active {
					padding-top: calc(46px + 1.25rem);

					@media all and (min-width: 783px) {
						padding-top: calc(32px + 1.25rem);
					}
				}
			}
		}
	}
}

.posts-navigation {

	.nav-links {
		@include fontSmaller;
		display: flex;
		gap: 1rem;
		justify-content: space-between;

		.nav-next {
			text-align: right;
		}
	}
}