#site-navigation {

	#primary-menu {

		.menu-item {
			@include headingFont;
			@include fontSmall;
			list-style-type: none;

			a {
				@include headingFont;
				display: block;
				text-decoration: none;

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}

		& > .menu-item {

			&.menu-item-has-children {
				position: relative;

				& > a {

					&:after {
						border-right-color: transparent;
						border-style: solid;
						border-width: 0 6px 6px 0;
						content: '';
						display: inline-block;
						height: 0;
						margin-left: 5px;
						position: absolute;
						top: calc(.833rem / 2);
						transform: rotate(-45deg);
						width: 0;
					}
				}

				.sub-menu {

					a {
						display: block;
						padding: 7px 0;

						&:active,
						&:focus,
						&:hover {
							text-decoration: underline;
						}
					}
				}

				& > .sub-menu {

					& > .menu-item-has-children {

						.sub-menu {

							a {
								@include fontSmall;
								padding: 5px 0 5px 5px;

								&:before {
									content: "- ";
								}
							}
						}
					}
				}
			}
		}
	}

	/* Full desktop navigation */
	&:not(.toggled) {

		.close-menu-modal {
			display: none;
		}

		#primary-menu {
			align-items: center;
			display: none;
			flex-direction: row;

			@media all and (min-width: $mdMinWidth) {
				display: flex;
				flex-wrap: wrap;
			}

			& > .menu-item {

				& > a {
					display: inline-block;
					line-height: 1;
					padding: 0 .75rem;
				}

				&:last-child > a {
					padding-right: 0;
				}

				&.menu-item-has-children {

					& > a {
						padding-right: calc(.75rem + 11px);
					}

					& > .sub-menu {
						border: 1px solid rgba(255, 255, 255, .1);
						border-radius: 4px;
						box-shadow: 0 0 45px 0px rgba(0, 0, 0, .1);
						display: none;
						padding: 7px 1.2rem;
						position: absolute;
						top: 2rem;
						width: 200px;

						& > .menu-item {

							&:not(:last-child) {
								border-bottom: 1px solid rgba(255, 255, 255, .1);
							}

							&.menu-item-has-children {

								&:not(:last-child) {
									padding-bottom: 4px;
								}
							}
						}
					}

					&.sub-menu-active {

						& > a {
							text-decoration: underline;
						}

						.sub-menu {
							display: block;
						}
					}

					&:last-child > a {
						padding-right: calc(0.75rem + 3px);
					}
				}

				&.menu-item-button {
					padding-left: 12px;

					& > a {
						border-radius: 4px;
						padding: 8px 12px;

						&:active,
						&:focus,
						&:hover {
							text-decoration: none;
						}
					}

					&.menu-item-has-children {

						& > a {
							padding-right: 23px;

							&:after {
								top: 7px;
							}
						}
					}
				}

				&:last-child,
				&:nth-last-child(2) {

					& > .sub-menu {
						right: 0;
					}
				}
			}
		}
	}

	/* Mobile navigation opener */
	.menu-toggle {
		@include headingFont;
		@include fontSmallest;
		background: transparent;
		border: none;
		display: inline-block;
		height: unset;
		text-transform: uppercase;

		&:hover {
			cursor: pointer;
		}

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}

		@media all and (min-width: $mdMinWidth) {
			display: none;
		}
	}

	/* Mobile navigation */
	&.toggled {

		& > [class*="-container"] {
			display: flex;
			flex-direction: column;
			height: 100svh;
			left: 0;
			opacity: 0;
			overflow: hidden;
			padding: 1.5rem;
			pointer-events: none;
			position: fixed;
			right: 0;
			top: 0;
			transition: opacity 0.2s;
			z-index: 9999;

			&.menu-modal-active {
				opacity: 1;
				pointer-events: all;
			}
		}

		.close-menu-modal {
			@include headingFont;
			@include fontSmallest;
			align-self: flex-end;
			background: transparent;
			border: none;
			cursor: pointer;
			display: block;
			flex-shrink: 0;
			line-height: 1;
			text-decoration: underline;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		#primary-menu {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			overflow-x: hidden;
			overflow-y: auto;
			padding-top: 1rem;
			width: 100%;

			.menu-item {

				.sub-menu {
					display: none;
				}
			}

			& > .menu-item {

				&:not(:last-of-type) {
					border-bottom: 1px solid rgba(255, 255, 255, .1);
				}

				&.menu-item-has-children {

					& > a {

						&:after {
							position: absolute;
							right: 0;
							top: 14px;
						}
					}

					& > .sub-menu {
						background-color: rgba(0, 0, 0, .15);
						border-radius: 4px;
						margin-bottom: 1rem;
						margin-top: 4px;
						padding: 7px 1.2rem;
						width: 100%;

						& > .menu-item-has-children {

							&:not(:last-child) {
								border-bottom: 1px solid rgba(255, 255, 255, .1);
							}
						}

						& > .menu-item {

							&:not(:last-child) {
								border-bottom: 1px solid rgba(255, 255, 255, .1);
								padding-bottom: 4px;
							}
						}
					}

					&.sub-menu-active {

						& > a {
							text-decoration: underline;
						}

						.sub-menu {
							display: block;
						}
					}
				}

				& > a {
					@include fontBase;
					padding: 12px 0;
				}
			}
		}
	}
}

.logged-in #site-navigation.toggled > [class*="-container"] {
	padding-top: calc(46px + 1.5rem);

	@media all and (min-width: 783px) {
		padding-top: calc(32px + 1.5rem);
	}
}

.posts-navigation {

	.nav-links {
		@include headingFont;
		@include fontSmaller;
		display: flex;
		gap: 1rem;
		justify-content: space-between;

		.nav-next {
			text-align: right;
		}

		a {
			text-decoration: underline;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

.pagination {
	margin-top: 2rem;

	.nav-links {
		@include headingFont;
		@include fontSmaller;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;

		a {
			text-decoration: underline;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		.page-numbers.current {
			font-weight: bold;
		}
	}
}

.post-navigation {
	border-bottom: 1px solid var(--subdued-light);
	border-top: 1px solid var(--subdued-light);
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;

	.nav-links {
		display: flex;
		gap: 1.5rem;
		justify-content: space-between;

		.nav-previous,
		.nav-next {
			flex: 1 1 0;
		}

		.nav-next {
			text-align: right;
		}

		a {
			@include headingFont;
			text-decoration: none;
		}

		@media all and (max-width: #{$smMinWidth - 1}) {
			flex-direction: column;

			.nav-next {
				text-align: left;
			}
		}
	}

	.nav-subtitle {
		@include fontSmallest;
		display: block;
		text-transform: uppercase;
	}

	.nav-label {
		@include fontSmall;
		display: block;
	}
}