article,
.v-content-container {

	.entry-header {

		.entry-title {
			margin-bottom: .25rem;
		}

		.entry-meta {
			@include fontSmaller;
		}
	}

	.post-thumbnail {
		display: block;

		img {
			vertical-align: top;
		}
	}

	.entry-content {

		@media all and (min-width: $smMinWidth) {
			@include fontBig;
		}

		ul {
			margin: 0 0 0 1.125rem;
		}

		ol {
			margin: 0 0 0 1.3rem;
		}

		ul,
		ol {
			padding: 0;

			li {

				& ul,
				& ol {
					margin-top: .75rem;
				}

				& + li {
					margin-top: .75rem;
				}
			}
		}

		& > ul,
		& > ol {
			margin-bottom: clamp(1.25rem, 2.4vw, 1.75rem);
			margin-top: 1.25rem;
		}
	}

	.entry-footer {
		@include fontSmaller;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	&:last-child {

		.entry-footer {
			margin-bottom: 0;
		}
	}
}

.single {

	article {

		.entry-content {

			h1, .h1,
			h2, .h2 {

				&:not(.jumbo) {
					font-size: clamp(1.65rem, 3.25vw, 2.5rem);
					line-height: 1.3;
				}
			}

			p {

				& + h1, & + .h1,
				& + h2, & + .h2 {

					&:not(.jumbo) {
						margin-top: clamp(1.5rem, 2.5vw, 2rem);
					}
				}
			}
		}
	}
}

.full-width-template,
.page-width-template {

	.v-content-container {

		.wp-block-group {

			.wp-block-group__inner-container {

				& > ul,
				& > ol {
					margin-bottom: clamp(1.25rem, 2.4vw, 1.75rem);
					margin-top: 1.25rem;
				}
			}
		}
	}
}