article,
.v-content-container {

	/**
	 * Singulars use the jumbo header. The .entry-header element is only reached
	 * from the fallback content/content.php template. That's rare.
	 */
	.entry-header {

		.entry-title {
			margin-bottom: .25rem;
		}

		.entry-meta {
			@include fontSmaller;
		}
	}

	.post-thumbnail {
		display: block;

		img {
			vertical-align: top;
		}
	}

	.entry-content {

		ul {
			margin: 0 0 0 1.125rem;
		}

		ol {
			margin: 0 0 0 1.3rem;
		}

		ul,
		ol {
			padding: 0;

			li {

				& ul,
				& ol {
					margin-top: .75rem;
				}

				& + li {
					margin-top: .75rem;
				}
			}
		}

		& > ul,
		& > ol {
			margin-bottom: 1.25rem;
			margin-top: 1.25rem;

			@media all and (min-width: $smMinWidth) {
				margin-bottom: 1.75rem;
			}
		}
	}

	.entry-footer {
		@include fontSmaller;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	&:last-child {

		.entry-footer {
			margin-bottom: 0;
		}
	}
}

.single {

	article {

		.entry-content {

			/* Force h1/.h1 to match h2/.h2 size only in single post content */
			h1, .h1,
			h2, .h2 {

				&:not(.jumbo) {
					font-size: 1.65rem;
					line-height: 1.3;

					@media all and (min-width: $xsMinWidth) {
						font-size: 2rem;
					}

					@media all and (min-width: $lgMinWidth) {
						font-size: 2.5rem;
					}
				}
			}

			p {

				& + h1, & + .h1,
				& + h2, & + .h2 {

					&:not(.jumbo) {
						margin-top: 1.5rem;

						@media all and (min-width: $smMinWidth) {
							margin-top: 2rem;
						}
					}
				}
			}
		}
	}
}

/* Duplicate standard ul/ol spacing for use in custom page template content */
.full-width-template,
.page-width-template {

	.v-content-container {

		.wp-block-group {

			.wp-block-group__inner-container {

				& > ul,
				& > ol {
					margin-bottom: 1.25rem;
					margin-top: 1.25rem;

					@media all and (min-width: $smMinWidth) {
						margin-bottom: 1.75rem;
					}
				}
			}
		}
	}
}