html {
	@include bodyFont;
	@include fontBase;
	@include lineHeightBase;

	& {
		overflow-wrap: break-word;
	}
}

body {

	& * {
		box-sizing: border-box;
	}

	&.full-width-structure {

		#page-container {
			max-width: 100%;
		}
	}

	&.no-sidebar {

		.main-content-wrap {
			justify-content: space-around;
		}
	}
}

#page-container {
	box-shadow: 0 0 50px 20px rgba(0, 0, 0, .05);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1364px;
}

.inner {
	@include innerSpacing;

	&.v-small {
		@include innerSpacingSmall;
	}

	&.v-medium {
		@include innerSpacingMedium;
	}

	&.v-large {
		@include innerSpacingLarge;
	}
}

.main-content-wrap {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@media all and (min-width: $mdMinWidth) {
		flex-direction: row;
		gap: unset;
		justify-content: space-between;

		#primary-content {
			width: 65.5%;
		}

		.sidebar {
			width: 28.5%;
		}
	}
}

// TODO: find a way make the footer sticky without body height issues

/*
Sticky footer preparation
#page-container {
	height: 100vh;
*/
/* Adjust sticky footer preparation when WP admin bar is present
.logged-in {

	#page-container {
		height: calc( 100vh - 46px );

		@media all and (min-width: 783px) {
		    height: calc( 100vh - 32px );
		}
	}
}
*/
/* Create sticky footer
main {
	flex: 1 0 auto;
}
*/