.widget {
	@include fontSmall;
	margin-bottom: 1.25rem;

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		margin-bottom: 1rem;
	}

	h1, .h1,
	h2, .h2,
	h3, .h3 {
		font-size: clamp(1.35rem, 2.15vw, 1.65rem);
		line-height: 1.35;
	}

	h4, .h4 {
		font-size: clamp(1.125rem, 1.6vw, 1.25rem);
		line-height: 1.4;
		text-transform: uppercase;
	}

	h5, .h5 {
		font-size: clamp(1rem, 1.4vw, 1.125rem);
	}

	p {
		margin-bottom: 1.25rem;

		&:last-child {
			margin-bottom: 1.25rem;
		}

		& + h1, & + .h1 {

			@media all and (min-width: $smMinWidth) {
				margin-top: 1.75rem;
			}
		}

		& + h2, & + .h2 {

			@media all and (min-width: $smMinWidth) {
				margin-top: 1.5rem;
			}
		}

		& + h3, & + .h3,
		& + h4, & + .h4,
		& + h5, & + .h5,
		& + h6, & + .h6 {

			@media all and (min-width: $smMinWidth) {
				margin-top: 1.35rem;
			}
		}
	}

	ul {
		margin: 0 0 0 1em;
	}

	ol {
		margin: 0 0 0 1.1em;
	}

	ul,
	ol {
		padding: 0;

		li {

			& ul,
			& ol,
			& + li {
				margin-top: .75rem;
			}
		}
	}

	& > ul,
	& > ol {
		margin-bottom: 1.25rem;
		margin-top: 1.25rem;
	}

	hr,
	.wp-block-separator {

		@media all and (min-width: $mdMinWidth) {
			margin: 2rem 0;
		}
	}

	pre,
	dl {

		@media all and (min-width: $smMinWidth) {
			padding: 1.625rem;
		}
	}

	.wp-block-search__button:not(.has-icon) {
		flex-basis: 120px;
	}
}

.fat-footer {

	.widget {

		ul,
		ol {
			margin: 0;

			li {
				list-style-type: none;

				& ul,
				& ol,
				& + li {
					margin-top: 5px;
				}

				a {
					@include fontSmaller;
				}
			}
		}

		a {
			text-decoration-style: dotted;

			&:active,
			&:focus,
			&:hover {
				text-decoration-line: underline;
				text-decoration-style: solid;
			}
		}
	}
}