@import "_normalize";
@import "systems/_configuration";
@import "systems/_helper-classes";
@import "systems/_editor-classes";
@import "_markup-formatting";

/**
 * These styles are applied to the editor, separate from front-end styles.
 */
body {
	@include bodyFont;
	@include fontBase;
	@include lineHeightBase;
	color: var(--text);

	* {
		box-sizing: border-box;
	}

	/* All user-generated post_content */
	.wp-block-post-content {

		& > [class*="wp-block-"] {
			margin: 0;

			&:not(.v-no-spacing) {

				& > .wp-block-group__inner-container {
					@include innerSpacing;

					& > [class*="wp-block-"] {

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				&.v-small {

					& > .wp-block-group__inner-container {
						@include innerSpacingBase;
					}
				}

				&.v-medium {

					& > .wp-block-group__inner-container {
						@include innerSpacingLarge;
					}
				}

				&.v-large {

					& > .wp-block-group__inner-container {
						@include innerSpacingLarger;
					}
				}
			}
		}
	}
}

// ─────────────────────────────────────────────────────────────
// Content element colors
// ─────────────────────────────────────────────────────────────

a {
	color: var(--action);
}

h4, .h4,
h6, .h6 {
	color: var(--subdued-dark);
}

hr,
.wp-block-separator,
.wp-block-quote,
.wp-block-pullquote {
	border-color: var(--subdued-light);
}

pre,
code,
kbd,
tt,
var {
	background-color: var(--translucent-dark);
}

table th {
	background-color: var(--dark);
	color: var(--white);
}

table,
table th,
table td {
	border-color: var(--dark);
}
