.footer-lead {

	.footer-lead-cta {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: space-between;
		text-align: center;

		@media all and (min-width: $smMinWidth) {
			flex-direction: row;
			text-align: unset;
		}

		& > * {
			align-self: center;
		}

		.cta-content {

			@media all and (min-width: $smMinWidth) {
				max-width: 60%;
			}

			@media all and (min-width: $mdMinWidth) {
				max-width: 50%;
			}

			[class*="-title"] {
				margin-bottom: 12px;
			}
		}
	}
}

.fat-footer {
	@include fontSmaller;
	background: $lightBackground;

	& > .inner {

		.fat-footer-areas {

			@media all and (min-width: $xsMinWidth) {
				padding: 3rem 0 2.5rem;
			}

			@media all and (min-width: $smMinWidth) {
				padding: 4.5rem 0 2.5rem;
			}

			.widget {

				&:not(:last-child) {
					margin-bottom: 1.25rem;
				}
			}

			&.alternate-layout {

				&.v-grid-columns_3 {
					column-gap: 1.5rem;

					@media all and (min-width: $smMinWidth) {
						column-gap: 4rem;

						.fat-footer-area:first-child {
							grid-column-start: 1;
							grid-column-end: 4;
							margin-bottom: 2rem;
						}
					}

					@media all and (min-width: $mdMinWidth) {
						grid-template-columns: 3fr 1fr 1fr;
						margin-bottom: unset;

						.fat-footer-area:first-child {
							grid-column-start: unset;
							grid-column-end: unset;
							margin-bottom: unset;
						}
					}
				}

				&.v-grid-columns_4 {
					column-gap: 1.5rem;

					@media all and (min-width: $smMinWidth) {
						column-gap: 2rem;
						grid-template-columns: 1fr 1fr 1fr;

						.fat-footer-area:first-child {
							grid-column-start: 1;
							grid-column-end: 4;
							margin-bottom: 2rem;
						}
					}

					@media all and (min-width: $mdMinWidth) {
						column-gap: 4rem;
						grid-template-columns: 5fr 2fr 2fr 2fr;
						margin-bottom: unset;

						.fat-footer-area:first-child {
							grid-column-start: unset;
							grid-column-end: unset;
							margin-bottom: unset;
						}
					}
				}
			}
		}
	}
}

.site-footer {
	@include fontSmaller;
	background: $lightBackground;

	.inner {

		.site-footer-content {
			border-top: 2px solid $lightBorder;

			@media all and (min-width: $mdMinWidth) {
				display: flex;
				justify-content: space-between;
			}

			.site-name {

				.blog-name {
					font-weight: 700;
				}

				.site-copyright {
					font-weight: 400;
				}
			}
		}
	}
}