#masthead {
	background: $lightBackground;

	.site-header {

		.inner {
			display: flex;
			justify-content: space-between;

			@media all and (min-width: $xsMinWidth) {
				padding-bottom: 2rem;
				padding-top: 2rem;
			}
			
			& > * {
				align-self: center;
			}

			.site-branding {

				.custom-logo-link {

					.custom-logo {
						max-width: 180px;
						vertical-align: bottom;
					}
				}

				.site-title {
					@include headingFont;
					font-weight: 700;
					font-size: 1.25rem;
					line-height: 1;

					a {
						color: $baseColor;
						line-height: 1;
						text-decoration: none;

						&:active,
						&:focus,
						&:hover {
							color: $linkColor;
						}
					}
				}
			}
		}
	}

	.site-hero {

	}
}