// Heading font
@mixin headingFont {
	font-family: 'Red Hat Display', sans-serif;
}

// Body font
@mixin bodyFont {
	font-family: 'Red Hat Text', sans-serif;
}

// Standard font size
@mixin fontBase {
	@include fontSmall;

	@media all and (min-width: $xsMinWidth) {
		@include fontSmall;
	}

	@media all and (min-width: $smMinWidth) {
		font-size: 18px;
		@include lineHeightBase;
	}
}

// Font size modifiers
@mixin fontBig {
	font-size: 19px;
	@include lineHeightBase;
}

@mixin fontBigger {
	font-size: 20px;
	@include lineHeightBase;
}
@mixin fontBiggest {
	font-size: 22px;
	@include lineHeightBase;
}

@mixin fontSmall {
	font-size: 17px;
	@include lineHeightBase;
}

@mixin fontSmaller {
	font-size: 15px;
	@include lineHeightBase;
}

@mixin fontSmallest {
	font-size: 13px;
	@include lineHeightBase;
}

// Line height standard
@mixin lineHeightBase {
	line-height: 1.6;
}