/* Catch all styles for general singulars */
article {

	.entry-header {

		.entry-title {
			margin-bottom: .25rem;
		}

		.entry-meta {
			@include fontSmaller;
		}
	}

	.post-thumbnail {
		display: block;

		img {
			vertical-align: top;
		}
	}

	.entry-content {

		ul {
			margin: 0 0 0 1.125rem;
		}

		ol {
			margin: 0 0 0 1.3rem;
		}

		ul,
		ol {
			padding: 0;

			li {

				& ul,
				& ol {
					margin-top: .75rem;
				}

				& + li {
					margin-top: .75rem;
				}
			}
		}

		& > ul,
		& > ol {
			margin-bottom: 1.25rem;
			margin-top: 1.25rem;

			@media all and (min-width: $smMinWidth) {
				margin-bottom: 1.75rem;
			}
		}
	}

	.entry-footer {
		@include fontSmaller;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	&:last-child {

		.entry-footer {
			margin-bottom: 0;
		}
	}
}