html {
	background: $HTMLBackground;

	& * {
		box-sizing: border-box;
	}
}

body {
	@include bodyFont;
	@include fontBase;
	background: $bodyBackground;
	color: $baseColor;
}

#page {
	background: #fff;
	box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.03);
	margin: 0 auto;
	max-width: 1364px;
	overflow: scroll;

	/* Prepare to create sticky footer */
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* Adjust sticky footer prep when WP admin bar is present */
.logged-in {

	#page {
		height: calc( 100vh - 46px );

		@media all and (min-width: 783px) {
			height: calc( 100vh - 32px );
		}
	}
}

/* Added to the body when site HTML structure is set to full width */
.full-width-structure {

	#page {
		max-width: 100%;
	}
}

main {

	/* Create sticky footer */
	flex: 1 0 auto;
}

/* Separated from parent elements for easy override */
.inner {
	@include innerSpacing;

	&.v-small {
		@include innerSpacingSmall;
	}

	&.v-medium {
		@include innerSpacingMedium;
	}

	&.v-large {
		@include innerSpacingLarge;
	}
}

/* Separated from parent elements for easy override */
.main-content-wrap {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@media all and (min-width: $mdMinWidth) {
		flex-direction: row;
		gap: unset;
		justify-content: space-between;

		#primary-content {
			width: 65.5%;
		}

		.sidebar {
			width: 28.5%;
		}
	}
}

.no-sidebar {

	.main-content-wrap {
		justify-content: space-around;
	}
}