$baseColor: #313240;

$linkColor: lighten( $baseColor, 15% );

$lightBackground: lighten( $baseColor, 75% );

$lightText: lighten( $baseColor, 25% );
$lightBorder: darken( $lightBackground, 5% );

$HTMLBackground: lighten( $baseColor, 74% );
$bodyBackground: darken( $baseColor, 3% );

/* Min-width Breakpoints */
$xsMinWidth: 560px;
$smMinWidth: 768px;
$mdMinWidth: 992px;
$lgMinWidth: 1200px;
$xlMinWidth: 1540px;

/* Navigation */
$menuModalMinWidthBackground: lighten( $baseColor, 5% );
$menuModalMinWidth: $mdMinWidth;