.v-grid-item-container {

	.v-grid-item-title {
		margin-bottom: 8px;

		a {
			display: block;
			text-decoration: none;
		}
	}

	.v-grid-item-meta {
		@include fontTiny;
		display: block;
		font-weight: 600;
		line-height: 1;


		a {
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&:not(.v-subdued) {
		border-radius: 10px;

		.v-grid-item-content-wrap {
			display: flex;
			flex-direction: column;
			height: 100%;

			.v-grid-item-media {

				img {
					border-radius: 10px 10px 0 0;
					vertical-align: top;
				}
			}

			.v-grid-item-header {
				padding: clamp(1.25rem, 2.4vw, 2rem) clamp(1.25rem, 2.4vw, 2rem) clamp(1rem, 1.65vw, 1.25rem);
			}

			.v-grid-item-body {
				@include fontSmall;
				flex: 1 0 auto;
				padding: 0 clamp(1.25rem, 2.4vw, 2rem) 1.5rem;

				.hellip-link {
					text-decoration: none;
				}
			}

			.v-grid-item-footer {
				@include fontSmaller;
				padding: 0 clamp(1.25rem, 2.4vw, 2rem) clamp(1.75rem, 2.75vw, 2.25rem);

				.v-button {
					@include fontSmallest;
				}
			}
		}
	}
}