.v-grid-item-container {

	.v-grid-item-title {
		margin-bottom: 4px;
	}

	.v-grid-item-meta {
		@include fontSmallest;
		display: block;
		line-height: 1;

		a {
			font-weight: 700;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&:not(.v-subdued) {
		border-radius: 8px;

		.v-grid-item-content-wrap {
			display: flex;
			flex-direction: column;
			height: 100%;

			.v-grid-item-media {

				img {
					border-radius: 8px 8px 0 0;
					vertical-align: top;
				}
			}

			.v-grid-item-header {
				padding: 1.25rem 1.25rem .75rem;

				@media all and (min-width: $mdMinWidth) {
					padding: 2rem 2rem 1rem;
				}

				.v-grid-item-title {

					a {
						text-decoration: none;
					}
				}
			}

			.v-grid-item-body {
				flex: 1 0 auto;
				padding: .5rem 1.25rem 1rem;

				@media all and (min-width: $mdMinWidth) {
					padding: .5rem 2rem 1.25rem;
				}

				.v-grid-item-description {
					@include fontSmall;
				}
			}

			.v-grid-item-footer {
				@include fontSmaller;
				padding: .5rem 1.25rem 1.75rem;

				@media all and (min-width: $mdMinWidth) {
					padding: .5rem 2rem 2.25rem;
				}

				.v-gridbutton {
					@include fontSmallest;
				}
			}
		}
	}
}