/**
 * Set the theme color variables
 *
 * The following variables are set based on Customizer settings. They live in the
 * site <head> element for global access:
 *
 * --primary-hue
 * --global-hue-saturation
 * --dark-background-light-color-luminance
 */
:root {

	/* Very dark - based on the primary hue */
	--primary-hue_dark: hsl(var(--primary-hue) var(--global-hue-saturation) 18%);

	/* Backgrounds - based on the primary hue */
	--gray-background: hsl(var(--primary-hue) 3% 98%);
	--dark-background: var(--primary-hue_dark);

	/* Subdued colors - based on the primary hue */
	--subdued-color-light: hsl(var(--primary-hue) 10% 91%);
	--subdued-color-dark: hsl(var(--primary-hue) 20% 38%);

	/* Miscellaneous */
	--dark-background-light-color: hsl(var(--primary-hue) var(--global-hue-saturation) var(--dark-background-light-color-luminance));
	--menu-background: hsl(var(--primary-hue) var(--global-hue-saturation) 24%);

	.monochromatic-color-scheme {
		--action-color: hsl(var(--primary-hue) var(--global-hue-saturation) 32%);
		--action-color-alt: hsl(var(--primary-hue) var(--global-hue-saturation) 37%);
	}

	.complementary-color-scheme {
		--gray-background: hsl(var(--complementary-accent-hue) 15% 98%);
		--action-color: hsl(var(--complementary-accent-hue) var(--global-hue-saturation) 32%);
		--action-color-alt: hsl(var(--complementary-accent-hue) var(--global-hue-saturation) 36%);
	}

	.analogous-color-scheme {
		--gray-background: hsl(var(--analogous-accent-hue_positive) 15% 98%);
		--action-color: hsl(var(--analogous-accent-hue_negative) var(--global-hue-saturation) 32%);
		--action-color-alt: hsl(var(--analogous-accent-hue_negative) var(--global-hue-saturation) 36%);
	}
}

/**
 * Control the entire theme color scheme
 */
#page-container,
.fat-footer pre,
.fat-footer dl,
.fat-footer code,
.fat-footer kbd,
.fat-footer tt,
.fat-footer var {
	background-color: #fff;
}

.button,
.v-button,
button,
[type="button"],
[type="submit"],
[type="reset"],
.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.wp-block-button.is-style-outline .wp-block-button__link:active,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.comment-reply-link,
.wp-block-calendar .wp-calendar-table caption,
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a,
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:active,
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:focus,
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:hover,
#site-navigation:not(.toggled) #primary-menu > .menu-item-has-children > .sub-menu a,
#site-navigation.toggled > .menu-modal-active #primary-menu .menu-item a,
table th,
[class*="wp-block-"] > table th {
	color: #fff;
}

body,
.v-gray-background,
.v-grid .v-grid-item-container:not(.v-subdued),
.wp-block-table.is-style-stripes table tbody tr:nth-child(2n+1),
select,
.social-navigation,
article .entry-content .wp-block-latest-comments,
.v-content-container .entry-content .wp-block-latest-comments,
pre,
dl,
code,
kbd,
tt,
var {
	background-color: var(--gray-background);
}

hr,
#comments .comments-title,
#comments .comment .comment,
#comments .comment:not(:last-child),
#comments .comment .comment:not(:last-child),
#comments .pingback:not(:last-child),
.wp-block-separator,
.twitter-tweet {
	border-color: var(--subdued-color-light);
}

#site-navigation.toggled > #primary-menu > .menu-item-has-children > a:after {
	border-bottom-color: var(--dark-background-light-color);
}

#site-navigation #primary-menu > .menu-item-has-children > .sub-menu > .menu-item-has-children .sub-menu a {
	color: var(--dark-background-light-color);
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h5 a,
.h5 a,
.v-hero-secondary-cta a,
.v-subdued-title,
.featured-page .section-description,
.archive-title.content-title,
.wp-block-calendar .wp-calendar-nav,
[class*="wp-block-"] > label,
figure figcaption {
	color: var(--subdued-color-dark);
}

.button:active,
.button:focus,
.button:hover,
.v-button:active,
.v-button:focus,
.v-button:hover,
button:active,
button:focus,
button:hover,
[type="button"]:active,
[type="button"]:focus,
[type="button"]:hover,
[type="submit"]:active,
[type="submit"]:focus,
[type="submit"]:hover,
[type="reset"]:active,
[type="reset"]:focus,
[type="reset"]:hover,
.wp-block-button .wp-block-button__link:active,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:active,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
.wp-block-button.is-style-outline .wp-block-button__link:active,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.comment-reply-link:active,
.comment-reply-link:focus,
.comment-reply-link:hover,
#searchform #searchsubmit:active,
#searchform #searchsubmit:focus,
#searchform #searchsubmit:hover,
.wp-block-search button:active,
.wp-block-search button:focus,
.wp-block-search button:hover,
.wp-block-search[class*="button-inside"] [class*="search__inside"],
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:active,
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:focus,
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:hover {
	background-color: var(--action-color-alt);
}

.wp-block-search[class*="button-inside"] [class*="search__inside"],
.wp-block-button.is-style-outline .wp-block-button__link:active,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover {
	border-color: var(--action-color-alt);
}

.button,
.v-button,
button,
[type="button"],
[type="submit"],
[type="reset"],
.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.comment-reply-link,
.wp-block-search button,
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a,
.wp-block-calendar .wp-calendar-table caption {
	background-color: var(--action-color);
}

.wp-block-button.is-style-outline .wp-block-button__link,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):active,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):focus,
textarea:active,
textarea:focus,
select:active,
select:focus,
.wp-block-quote,
.wp-block-pullquote {
	border-color: var(--action-color);
}

a,
.site-title a:active,
.site-title a:focus,
.site-title a:hover,
h4,
.h4,
h6,
.h6,
.v-grid-item-title a:active,
.v-grid-item-title a:focus,
.v-grid-item-title a:hover,
.hellip-link:active,
.hellip-link:focus,
.hellip-link:hover,
.wp-block-button.is-style-outline .wp-block-button__link,
#comments .fn a:active,
#comments .fn a:focus,
#comments .fn a:hover,
#comments #respond #reply-title small #cancel-comment-reply-link {
	color: var(--action-color);
}

#searchform #searchsubmit,
.wp-block-search button,
.wp-block-search[class*="button-inside"] [class*="search__inside"] button,
table th,
[class*="wp-block-"] > table th,
table th,
#site-navigation:not(.toggled) #primary-menu > .menu-item-has-children > .sub-menu,
#site-navigation.toggled > [class*="-container"].menu-modal-active #primary-menu,
#site-navigation.toggled > .menu-modal-active #primary-menu > .menu-item-has-children > .sub-menu,
.close-menu-modal.v-button,
.close-menu-modal.v-button:active,
.close-menu-modal.v-button:focus,
.close-menu-modal.v-button:hover {
	background-color: var(--primary-hue_dark);
}

#site-navigation:not(.toggled) #primary-menu > .menu-item-has-children > a:after {
	border-bottom-color: var(--primary-hue_dark);
}

.blog-name a,
.blog-name a:active,
.blog-name a:focus,
.blog-name a:hover,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
textarea,
select,
#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a,
table,
table th,
table td,
.wp-block-table.is-style-stripes table th,
.wp-block-table.is-style-stripes table td,
[class*="wp-block-"] > table th,
[class*="wp-block-"] > table td {
	border-color: var(--primary-hue_dark);
}

#page-container,
.site-title a,
#site-navigation #primary-menu .menu-item a,
#site-navigation .menu-toggle,
.wp-block-separator.is-style-dots:before,
.v-grid-item-title a,
.v-grid-item-meta,
.v-grid-item-meta a,
.hellip-link,
.archive-title.content-title span,
#comments .fn a,
.content-meta a,
.entry-footer a,
.comment-meta a,
.logged-in-as a,
.comment-notes a,
.posts-navigation a,
.wp-calendar-nav-prev a,
.wp-block-latest-comments__comment-meta a,
cite,
.fat-footer a {
	color: var(--primary-hue_dark);
}

.v-dark-background {
	background-color: var(--dark-background);
	color: var(--dark-background-light-color);

	#site-navigation:not(.toggled) #primary-menu > .menu-item-has-children > a:after,
	#site-navigation #primary-menu > .menu-item-has-children > a:after {
		border-bottom-color: #fff;
	}

	.button,
	.v-button,
	button,
	[type="button"],
	[type="submit"],
	[type="reset"],
	.wp-block-button .wp-block-button__link,
	.wp-block-file .wp-block-file__button,
	.comment-reply-link,
	.wp-block-search[class*="button-inside"] button:active,
	.wp-block-search[class*="button-inside"] button:focus,
	.wp-block-search[class*="button-inside"] button:hover,
	#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a {
		border-color: #fff;
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	a,
	.site-title a,
	.content-title,
	.archive-title.content-title span,
	#site-navigation:not(.toggled) #primary-menu > .menu-item > a,
	#site-navigation .menu-toggle {
		color: #fff;
	}

	.v-hero-secondary-cta a,
	.archive-title.content-title,
	h4,
	.h4,
	h6,
	.h6,
	blockquote,
	address,
	cite,
	q,
	code,
	kbd,
	tt,
	var,
	strike,
	del,
	.v-subdued-title,
	table caption,
	figure figcaption,
	.wp-block-calendar .wp-calendar-nav,
	[class*="wp-block-"] > label {
		color: var(--dark-background-light-color);
	}

	#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:active,
	#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:focus,
	#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:hover,
	input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):active,
	input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):focus,
	textarea:active,
	textarea:focus,
	select:active,
	select:focus {
		border-color: var(--action-color-alt);
	}

	.button:active,
	.button:focus,
	.button:hover,
	.v-button:active,
	.v-button:focus,
	.v-button:hover,
	button:active,
	button:focus,
	button:hover,
	[type="button"]:active,
	[type="button"]:focus,
	[type="button"]:hover,
	[type="submit"]:active,
	[type="submit"]:focus,
	[type="submit"]:hover,
	[type="reset"]:active,
	[type="reset"]:focus,
	[type="reset"]:hover,
	.wp-block-button .wp-block-button__link:active,
	.wp-block-button .wp-block-button__link:focus,
	.wp-block-button .wp-block-button__link:hover,
	.wp-block-file .wp-block-file__button:active,
	.wp-block-file .wp-block-file__button:focus,
	.wp-block-file .wp-block-file__button:hover,
	.wp-block-button.is-style-outline .wp-block-button__link:active,
	.wp-block-button.is-style-outline .wp-block-button__link:focus,
	.wp-block-button.is-style-outline .wp-block-button__link:hover,
	.wp-block-search[class*="button-inside"] button,
	.comment-reply-link:active,
	.comment-reply-link:focus,
	.comment-reply-link:hover,
	#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:active,
	#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:focus,
	#site-navigation:not(.toggled) #primary-menu > .menu-item-button > a:hover {
		background-color: var(--action-color-alt);
		border-color: var(--action-color-alt);
	}

	input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
	textarea,
	select {
		border-color: var(--action-color);
	}

	table,
	table th,
	table td {
		border-color: var(--primary-hue_dark);
	}
}

.complementary-color-scheme {

	.v-grid .v-grid-item-container:not(.v-subdued) {

	}
}