/**
 * Colors
 */
:root {

	/* This color controls the entire color scheme */
	--primary-hue: 120;

	--primary-hue_lightest: hsl(var(--primary-hue) 13% 97%);
	--primary-hue_lighter: hsl(var(--primary-hue) 13% 95%);
	--primary-hue_light: hsl(var(--primary-hue) 13% 93%);

	--light-border: hsl(var(--primary-hue) 13% 91%);

	--dark-background-link-color: hsl(var(--primary-hue) 13% 84%);

	--primary-hue_dark: hsl(var(--primary-hue) 13% 22%);
	--primary-hue_darker: hsl(var(--primary-hue) 13% 20%);
	--primary-hue_darkest: hsl(var(--primary-hue) 13% 18%);

	--light-text: hsl(var(--primary-hue) 13% 43%);

	--link-color: hsl(var(--primary-hue) 13% 37%);
	--link-color-hover: hsl(var(--primary-hue) 13% 32%);


	--accent-hue: calc(var(--primary-hue) - 180);
}

/**
 * All theme colors live here!
 *
 * Theme CSS still exists throughout the various style sheets. However, none of
 * them include properties pertaining to colors (background-color, color,
 * border-color, etc.). All color-related rules are placed in this file to
 * control the color scheme from a single location.
 *
 * The color values below flow from top (white) to bottom (primary hue). When a
 * color is shared by multiple items, the property names are in alphabetical
 * order from top to bottom for that particular color.
 *
 * To illustrate using white (#fff), gray (#777), and black (#000):
 *
 * selector_1,
 * selector_4 {
 *     background-color: #fff;
 * }
 *
 * selector_2,
 * selector_3 {
 *     color: #fff;
 * }
 *
 * selector_2,
 * selector_3 {
 *     background-color: #777;
 * }
 *
 * selector_1
 * selector_2,
 * selector_3,
 * selector_4 {
 *     border-color: #777;
 * }
 *
 * selector_1,
 * selector_4 {
 *     color: #000;
 * }
 */
#page,
table,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link,
.fat-footer pre,
.fat-footer dl,
.fat-footer code,
.fat-footer kbd,
.fat-footer tt,
.fat-footer var {
	background-color: #fff;
}

#site-navigation.toggled > [class*="-container"].menu-modal-active #primary-menu > .menu-item.menu-item-has-children > a:after {
	border-bottom-color: #fff;
}

.v-dark-background .site-title a,
.button,
.v-button,
button,
[type="button"],
[type="submit"],
[type="reset"],
.wp-block-buttons > .wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button,
table th,
.wp-block-table table th,
.wp-block-calendar .wp-calendar-table th,
.v-dark-background,
.v-dark-background .button,
.v-dark-background .v-button,
.v-dark-background button,
.v-dark-background [type="button"],
.v-dark-background [type="submit"],
.v-dark-background [type="reset"],
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link,
.v-dark-background .wp-block-file .wp-block-file__button,
#site-navigation:not(.toggled) #primary-menu > .menu-item.menu-item-has-children > .sub-menu a,
#site-navigation.toggled > [class*="-container"].menu-modal-active #primary-menu .menu-item a {
	color: #fff;
}

.v-gray-background,
.v-grid [class*="-item-container"]:not(.v-subdued),
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:active,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-table.is-style-stripes table tbody tr:nth-child(2n+1),
.social-navigation,
article .entry-content .wp-block-latest-comments,
dl,
code,
kbd,
tt,
var {
	background-color: var(--primary-hue_lightest);
}

.wp-block-table.is-style-stripes table tbody tr:nth-child(2n+1) {
	background-color: var(--primary-hue_lighter);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:active,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:hover {
	background-color: var(--primary-hue_light);
}

.v-dark-background h4, .h4,
.v-dark-background h6, .h6,
.v-dark-background blockquote,
.v-dark-background address,
.v-dark-background cite,
.v-dark-background q,
.v-dark-background code,
.v-dark-background kbd,
.v-dark-background tt,
.v-dark-background var,
.v-dark-background strike,
.v-dark-background del {
	color: var(--primary-hue_light);
}

.v-dark-background #site-navigation #primary-menu > .menu-item.menu-item-has-children > a:after {
	border-bottom-color: var(--dark-background-link-color);
}

.v-dark-background a,
.v-dark-background .site-title a:active,
.v-dark-background .site-title a:focus,
.v-dark-background .site-title a:hover,
.v-dark-background #site-navigation:not(.toggled) #primary-menu > .menu-item > a,
.v-dark-background #site-navigation .menu-toggle,
#site-navigation #primary-menu > .menu-item.menu-item-has-children > .sub-menu > .menu-item-has-children .sub-menu a {
	color: var(--dark-background-link-color);
}

.archive .archive-title,
.v-subdued-title,
table caption,
figure figcaption,
.wp-block-calendar .wp-calendar-nav,
[class*="wp-block-"] > label {
	color: var(--light-text);
}

.v-dark-background input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):active,
.v-dark-background input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):focus,
.v-dark-background textarea:active,
.v-dark-background textarea:focus {
	border-color: var(--link-color-hover);
}

.button:active,
.button:focus,
.button:hover,
.v-button:active,
.v-button:focus,
.v-button:hover,
button:active,
button:focus,
button:hover,
[type="button"]:active,
[type="button"]:focus,
[type="button"]:hover,
[type="submit"]:active,
[type="submit"]:focus,
[type="submit"]:hover,
[type="reset"]:active,
[type="reset"]:focus,
[type="reset"]:hover,
.wp-block-buttons > .wp-block-button .wp-block-button__link:active,
.wp-block-buttons > .wp-block-button .wp-block-button__link:focus,
.wp-block-buttons > .wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:active,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
.v-dark-background .button,
.v-dark-background .v-button,
.v-dark-background button:active,
.v-dark-background [type="button"],
.v-dark-background [type="submit"],
.v-dark-background [type="reset"],
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link,
.v-dark-background .wp-block-file .wp-block-file__button {
	background-color: var(--link-color);
}

#site-navigation #primary-menu > .menu-item.menu-item-has-children > a:after {
	border-bottom-color: var(--link-color);
}

.v-dark-background input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):active,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):focus,
.v-dark-background textarea,
textarea:active,
textarea:focus {
	border-color: var(--link-color);
}

a,
h4, .h4,
h6, .h6,
.site-title a:active,
.site-title a:focus,
.site-title a:hover,
#site-navigation #primary-menu .menu-item a,
#site-navigation .menu-toggle,
.v-grid [class*="-item-container"]:not(.v-subdued) [class*="-item-content-wrap"] [class*="-item-header"] [class*="-item-title"] a:active,
.v-grid [class*="-item-container"]:not(.v-subdued) [class*="-item-content-wrap"] [class*="-item-header"] [class*="-item-title"] a:focus,
.v-grid [class*="-item-container"]:not(.v-subdued) [class*="-item-content-wrap"] [class*="-item-header"] [class*="-item-title"] a:hover,
#comments .comment-list .comment .comment-body .comment-meta .comment-author .fn a:active,
#comments .comment-list .comment .comment-body .comment-meta .comment-author .fn a:focus,
#comments .comment-list .comment .comment-body .comment-meta .comment-author .fn a:hover,
#comments .comment-list .pingback .comment-body .comment-meta .comment-author .fn a:active,
#comments .comment-list .pingback .comment-body .comment-meta .comment-author .fn a:focus,
#comments .comment-list .pingback .comment-body .comment-meta .comment-author .fn a:hover,
#comments #respond #reply-title small #cancel-comment-reply-link {
	color: var(--link-color);
}

.v-dark-background .button:active,
.v-dark-background .button:focus,
.v-dark-background .button:hover,
.v-dark-background .v-button:active,
.v-dark-background .v-button:focus,
.v-dark-background .v-button:hover,
.v-dark-background button:active,
.v-dark-background button:focus,
.v-dark-background button:hover,
.v-dark-background [type="button"]:active,
.v-dark-background [type="button"]:focus,
.v-dark-background [type="button"]:hover,
.v-dark-background [type="submit"]:active,
.v-dark-background [type="submit"]:focus,
.v-dark-background [type="submit"]:hover,
.v-dark-background [type="reset"]:active,
.v-dark-background [type="reset"]:focus,
.v-dark-background [type="reset"]:hover,
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link:active,
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link:focus,
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link:hover,
.v-dark-background .wp-block-file .wp-block-file__button:active,
.v-dark-background .wp-block-file .wp-block-file__button:focus,
.v-dark-background .wp-block-file .wp-block-file__button:hover {
	background-color: var(--link-color-hover);
}

#site-navigation:not(.toggled) #primary-menu > .menu-item.menu-item-has-children > .sub-menu,
#site-navigation.toggled > [class*="-container"].menu-modal-active #primary-menu {
	background-color: hsl(var(--primary-hue) 13% 27%);
}

blockquote,
address,
cite,
q,code,
kbd,
tt,
var,
strike,
del {
	color: hsl(var(--primary-hue) 13% 27%);
}

.button,
.v-button,
button,
[type="button"],
[type="submit"],
[type="reset"],
.wp-block-buttons > .wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.v-dark-background,
.v-dark-background table th,
.wp-block-table table th,
.wp-block-calendar .wp-calendar-table th,
table th {
	background-color: var(--primary-hue_dark);
}

input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
textarea,
table,
table th,
table td,
.wp-block-table.is-style-stripes table th,
.wp-block-table.is-style-stripes table td,
.wp-block-calendar .wp-calendar-table th,
.wp-block-calendar .wp-calendar-table td,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link,
.v-dark-background table,
.v-dark-background table th,
.v-dark-background table td {
	border-color: var(--primary-hue_dark);
}

#page,
.site-title a,
cite,
.wp-block-separator.is-style-dots::before,
.v-grid [class*="-item-container"] [class*="-item-content-wrap"] [class*="-item-header"] [class*="-item-title"] a,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link,
.archive .archive-title span,
#comments .comment-list .comment .comment-body .comment-meta .comment-author .fn a,
#comments .comment-list .pingback .comment-body .comment-meta .comment-author .fn a {
	color: var(--primary-hue_dark);
}

.v-dark-background pre,
.v-dark-background dl,
.v-dark-background code,
.v-dark-background kbd,
.v-dark-background tt,
.v-dark-background var {
	background-color: hsl(var(--primary-hue) 13% 20%);
}

html,
body {
	background: var(--primary-hue_darkest);
}

#comments .comments-title,
#comments .comment-list .comment .comment,
#comments .comment-list .pingback .comment,
#comments .comment-list .comment:not(:last-child),
#comments .comment-list .pingback:not(:last-child),
#comments .comment-list .comment .comment:not(:last-child),
#comments .comment-list .pingback .comment:not(:last-child),
.site-footer-content,
.wp-block-quote,
hr,
.wp-block-separator,
.twitter-tweet {
	border-color: var(--light-border);
}