/**
 * Set the theme colors
 *
 * These variables should only be used in designated color scheme CSS. Using
 * them throughout the theme will not break anything, but it will create
 * unnecessary technical debt.
 */
:root {

	/**
	 * This color controls the entire monochromatic color scheme
	 */
	--monochromatic-hue-1: 255;
	--hue-1-pure: hsl(var(--monochromatic-hue-1) 50% 50%);

	/**
	 * This percentage controls the default saturation of all non-subdued colors
	 */
	--global-hue-saturation: 23%;

	/* Very light - based on hue 1 */
	--monochromatic-hue-1_lightest: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 98%);
	--monochromatic-hue-1_lighter: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 95%);
	--monochromatic-hue-1_light: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 93%);

	/* Very dark - based on hue 1 */
	--monochromatic-hue-1_dark: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 20%);
	--monochromatic-hue-1_darker: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 18%);
	--monochromatic-hue-1_darkest: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 16%);

	/* Action colors - based on hue 1 */
	--action-color: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 28%);
	--action-color-alt: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 32%);
	--dark-background-action-color: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 84%);

	/* Subdued colors - based on hue 1 */
	--subdued-text: hsl(var(--monochromatic-hue-1) 15% 43%);
	--subdued-border: hsl(var(--monochromatic-hue-1) 15% 91%);

	/* Miscellaneous */
	--menu-background: hsl(var(--monochromatic-hue-1) var(--global-hue-saturation) 27%);
}

/**
 * All theme colors live here
 *
 * Theme CSS still exists throughout the various style sheets. However, none of
 * them include properties pertaining to colors (background-color, color,
 * border-color, etc.). All theme color-related rules are placed in this file to
 * control the color scheme from a single location.
 */

#page-container,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link,
.fat-footer pre, .fat-footer dl, .fat-footer code, .fat-footer kbd, .fat-footer tt, .fat-footer var {
	background-color: #fff;
}

.v-dark-background #site-navigation:not(.toggled) #primary-menu > .menu-item-has-children > a:after,
.v-dark-background #site-navigation #primary-menu > .menu-item-has-children > a:after {
	border-bottom-color: #fff;
}

.button, .v-button, button, [type="button"], [type="submit"], [type="reset"], .comment-reply-link,
.wp-block-buttons > .wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button,
table th, [class*="wp-block-"] > table th,
#site-navigation:not(.toggled) #primary-menu > .menu-item-has-children > .sub-menu a,
#site-navigation.toggled > .menu-modal-active #primary-menu .menu-item a,
.v-dark-background h1, .v-dark-background .h1,
.v-dark-background h2, .v-dark-background .h2,
.v-dark-background h3, .v-dark-background .h3,
.v-dark-background h4, .v-dark-background .h4,
.v-dark-background h5, .v-dark-background .h5,
.v-dark-background h6, .v-dark-background .h6,
.v-dark-background a, .v-dark-background .site-title a,
.v-dark-background #site-navigation:not(.toggled) #primary-menu > .menu-item > a,
.v-dark-background #site-navigation .menu-toggle {
	color: #fff;
}

.v-gray-background,
.v-grid .v-grid-item-container:not(.v-subdued),
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:active,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-table.is-style-stripes table tbody tr:nth-child(2n+1),
select, .social-navigation,
article .entry-content .wp-block-latest-comments,
.v-content-container .entry-content .wp-block-latest-comments,
pre, dl, code, kbd, tt, var {
	background-color: var(--monochromatic-hue-1_lightest);
}

.wp-block-table.is-style-stripes table tbody tr:nth-child(2n+1) {
	background-color: var(--monochromatic-hue-1_lighter);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:active,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link:hover {
	background-color: var(--monochromatic-hue-1_light);
}

.v-dark-background h4, .v-dark-background .h4, .v-dark-background h6, .v-dark-background .h6,
.v-dark-background blockquote, .v-dark-background address, .v-dark-background cite,
.v-dark-background q, .v-dark-background code, .v-dark-background kbd,
.v-dark-background tt, .v-dark-background var, .v-dark-background strike, .v-dark-background del,.v-dark-background .archive .archive-title,.v-dark-background  .v-subdued-title,
.v-dark-background table caption,.v-dark-background  figure figcaption,
.v-dark-background .wp-block-calendar .wp-calendar-nav,
.v-dark-background [class*="wp-block-"] > label {
	color: var(--monochromatic-hue-1_light);
}

#site-navigation.toggled > #primary-menu > .menu-item-has-children > a:after {
	border-bottom-color: var(--dark-background-action-color);
}

.v-dark-background,
.v-dark-background .site-title a:active,
.v-dark-background .site-title a:focus,
.v-dark-background .site-title a:hover,
.v-dark-background .v-hero-secondary-cta a,
.button:active, .button:focus, .button:hover,
.v-button:active, .v-button:focus, .v-button:hover,
button:active, button:focus, button:hover,
[type="button"]:active, [type="button"]:focus, [type="button"]:hover,
[type="submit"]:active, [type="submit"]:focus, [type="submit"]:hover,
[type="reset"]:active, [type="reset"]:focus, [type="reset"]:hover,
.comment-reply-link:active, .comment-reply-link:focus, .comment-reply-link:hover,
.wp-block-buttons > .wp-block-button .wp-block-button__link:active,
.wp-block-buttons > .wp-block-button .wp-block-button__link:focus,
.wp-block-buttons > .wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:active,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
#site-navigation #primary-menu > .menu-item-has-children > .sub-menu > .menu-item-has-children .sub-menu a {
	color: var(--dark-background-action-color);
}

.archive .archive-title, .v-subdued-title,
table caption, figure figcaption,
.wp-block-calendar .wp-calendar-nav, [class*="wp-block-"] > label {
	color: var(--subdued-text);
}

.v-dark-background .button, .v-dark-background .v-button, .v-dark-background button,
.v-dark-background [type="button"], .v-dark-background [type="submit"], .v-dark-background [type="reset"],
.v-dark-background .comment-reply-link,
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link,
.v-dark-background .wp-block-file .wp-block-file__button {
	background-color: var(--action-color-alt);
}

.v-dark-background input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):active,
.v-dark-background input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):focus,
.v-dark-background textarea:active, .v-dark-background textarea:focus,
.v-dark-background select:active, .v-dark-background select:focus {
	border-color: var(--action-color-alt);
}

.v-grid-item-container .v-grid-item-meta a,
blockquote, address, cite, q, code, kbd, tt, var, strike, del {
	color: var(--action-color-alt);
}

.button, .v-button, button, [type="button"], [type="submit"], [type="reset"], .comment-reply-link,
.wp-block-buttons > .wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
	background-color: var(--action-color);
}

#site-navigation:not(.toggled) #primary-menu > .menu-item-has-children > a:after {
	border-bottom-color: var(--action-color);
}

.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link,
.v-dark-background input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
.v-dark-background textarea, .v-dark-background select,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):active,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):focus,
textarea:active, textarea:focus,
select:active, select:focus {
	border-color: var(--action-color);
}

a, h4, .h4, h6, .h6,
.site-title a,
#site-navigation #primary-menu .menu-item a, #site-navigation .menu-toggle,
.wp-block-buttons > .wp-block-button.is-style-outline .wp-block-button__link,
.v-grid .v-grid-item-container:not(.v-subdued) .v-grid-item-title a:active,
.v-grid .v-grid-item-container:not(.v-subdued) .v-grid-item-title a:focus,
.v-grid .v-grid-item-container:not(.v-subdued) .v-grid-item-title a:hover,
#comments .fn a:active, #comments .fn a:focus, #comments .fn a:hover,
#comments #respond #reply-title small #cancel-comment-reply-link {
	color: var(--action-color);
}

#site-navigation:not(.toggled) #primary-menu > .menu-item-has-children > .sub-menu,
#site-navigation.toggled > [class*="-container"].menu-modal-active #primary-menu,
.close-menu-modal.v-button,
.close-menu-modal.v-button:active, .close-menu-modal.v-button:focus, .close-menu-modal.v-button:hover {
	background-color: var(--menu-background);
}

.button:active, .button:focus, .button:hover,
.v-button:active, .v-button:focus, .v-button:hover,
button:active, button:focus, button:hover,
[type="button"]:active, [type="button"]:focus, [type="button"]:hover,
[type="submit"]:active, [type="submit"]:focus, [type="submit"]:hover,
[type="reset"]:active, [type="reset"]:focus, [type="reset"]:hover,
.comment-reply-link:active, .comment-reply-link:focus, .comment-reply-link:hover,
.wp-block-buttons > .wp-block-button .wp-block-button__link:active,
.wp-block-buttons > .wp-block-button .wp-block-button__link:focus,
.wp-block-buttons > .wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:active,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
table th,
[class*="wp-block-"] > table th,
.v-dark-background, .v-dark-background table th,
#site-navigation.toggled > .menu-modal-active #primary-menu > .menu-item-has-children > .sub-menu {
	background-color: var(--monochromatic-hue-1_dark);
}

.blog-name a, .blog-name a:active, .blog-name a:focus, .blog-name a:hover,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
textarea, select, table, table th, table td,
.wp-block-table.is-style-stripes table th, .wp-block-table.is-style-stripes table td,
[class*="wp-block-"] > table th, [class*="wp-block-"] > table td,
.v-dark-background table, .v-dark-background table th, .v-dark-background table td {
	border-color: var(--monochromatic-hue-1_dark);
}

#page-container, cite,
.site-title a:active, .site-title a:focus, .site-title a:hover,
.wp-block-separator.is-style-dots::before,
.v-grid-item-title a,
.archive .archive-title span, #comments .fn a {
	color: var(--monochromatic-hue-1_dark);
}

.v-dark-background .button:active, .v-dark-background .button:focus, .v-dark-background .button:hover,
.v-dark-background .v-button:active, .v-dark-background .v-button:focus, .v-dark-background .v-button:hover,
.v-dark-background button:active, .v-dark-background button:focus, .v-dark-background button:hover,
.v-dark-background [type="button"]:active, .v-dark-background [type="button"]:focus, .v-dark-background [type="button"]:hover,
.v-dark-background [type="submit"]:active, .v-dark-background [type="submit"]:focus, .v-dark-background [type="submit"]:hover,
.v-dark-background [type="reset"]:active, .v-dark-background [type="reset"]:focus, .v-dark-background [type="reset"]:hover,
.v-dark-background .comment-reply-link:active, .v-dark-background .comment-reply-link:focus, .v-dark-background .comment-reply-link:hover,
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link:active,
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link:focus,
.v-dark-background .wp-block-buttons > .wp-block-button .wp-block-button__link:hover,
.v-dark-background .wp-block-file .wp-block-file__button:active,
.v-dark-background .wp-block-file .wp-block-file__button:focus,
.v-dark-background .wp-block-file .wp-block-file__button:hover {
	background-color: var(--monochromatic-hue-1_darker);
}

html, body {
	background-color: var(--monochromatic-hue-1_darkest);
}

#comments .comments-title,
#comments .comment .comment,
#comments .comment:not(:last-child),
#comments .comment .comment:not(:last-child),
#comments .pingback:not(:last-child),
hr, .social-media-footer-area, .wp-block-quote, .wp-block-separator, .twitter-tweet {
	border-color: var(--subdued-border);
}