/* Min-width breakpoints */
$xsMinWidth: 560px;
$smMinWidth: 768px;
$mdMinWidth: 992px;
$lgMinWidth: 1200px;

/* Heading font */
@mixin headingFont {
	font-family: 'Red Hat Display', 'Red Hat Text', sans-serif;
}

/* Body font */
@mixin bodyFont {
	font-family: 'Red Hat Text', sans-serif;
}

/* Base font size */
@mixin fontBase {
	font-size: 18px;
}

/* Base line height */
@mixin lineHeightBase {
	line-height: 1.6;
}

/* Font size modifiers */
@mixin fontTiny {
	font-size: .722rem;
}
@mixin fontSmallest {
	font-size: .778rem;
}
@mixin fontSmaller {
	font-size: .833rem;
}
@mixin fontSmall {
	font-size: .889rem;
}
@mixin fontBig {
	font-size: 1.056rem;
}
@mixin fontBigger {
	font-size: 1.111rem;
}
@mixin fontBiggest {
	font-size: 1.222rem;
}

/* HTML structure spacing */
@mixin innerSpacing {
	margin: 0 auto;
	max-width: calc(1200px + 1.25rem);
	padding: 3rem 1.25rem;

	@media all and (min-width: $xsMinWidth) {
		max-width: calc(1200px + 2rem);
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@media all and (min-width: $smMinWidth) {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	@media all and (min-width: 860px) {
		padding-left: 6rem;
		padding-right: 6rem;
	}

	@media all and (min-width: $mdMinWidth) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@mixin innerSpacingSmall {

	@media all and (min-width: $mdMinWidth) {
		padding-bottom: 4rem;
		padding-top: 4rem;
	}
}

@mixin innerSpacingMedium {

	@media all and (min-width: $mdMinWidth) {
		padding-bottom: 6rem;
		padding-top: 6rem;
	}
}

@mixin innerSpacingLarge {

	@media all and (min-width: $mdMinWidth) {
		padding-bottom: 6rem;
		padding-top: 6rem;
	}

	@media all and (min-width: $lgMinWidth) {
		padding-bottom: 8rem;
		padding-top: 8rem;
	}
}