.content-header {

	.content-title {
		margin-bottom: 0;
		max-width: 770px;

		@media all and (min-width: $lgMinWidth) {
			max-width: 940px;
		}

		& + .content-meta,
		& + .content-description {
			margin-top: .75rem;
		}
	}

	.content-meta,
	.content-description {
		@include fontSmall;
		max-width: 765px;

		@media all and (min-width: $mdMinWidth) {
			@include fontBase;
		}
	}

	.content-container {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;

		@media all and (min-width: $mdMinWidth) {
			align-items: center;
			flex-direction: row;
			column-gap: 1.5rem;
			justify-content: space-between;

			.content-left {
				max-width: 60%;
			}
		}
	}
}

.archive {

	.content-header {

		.content-title {
			@include fontSmaller;
			@include headingFont;
			display: block;
			font-weight: 700;
			text-transform: uppercase;

			span {
				@include headingFont;
				display: block;
				font-size: 2rem;
				font-weight: 700;
				line-height: 1.25;
				margin: 0;
				max-width: 770px;
				text-transform: none;

				@media all and (min-width: $xsMinWidth) {
					font-size: 2.66666rem;
				}

				@media all and (min-width: $smMinWidth) {
					font-size: 3.33333rem;
				}

				@media all and (min-width: $lgMinWidth) {
					font-size: 4rem;
					max-width: 940px;
				}
			}
		}
	}
}

.no-sidebar {

	.content-header {
		text-align: center;

		.content-title {
			margin: 0 auto .75rem;
		}

		.content-meta,
		.content-description {
			margin: 1rem auto 0;
		}
	}
}