/* Min-width breakpoints */
$xsMinWidth: 560px;
$smMinWidth: 768px;
$mdMinWidth: 992px;
$lgMinWidth: 1200px;

/* Heading font */
@mixin headingFont {
	font-family: 'Red Hat Display', 'Red Hat Text', sans-serif;
}

/* Body font */
@mixin bodyFont {
	font-family: 'Red Hat Text', sans-serif;
}

/* Base font size - All font size variants are relative to this via rem */
@mixin fontBase {
	font-size: 18px;
}

/* Base line height */
@mixin lineHeightBase {
	line-height: 1.6;
}

/* Font size modifiers */
@mixin fontTiny {
	font-size: .722rem;
}
@mixin fontSmallest {
	font-size: .778rem;
}
@mixin fontSmaller {
	font-size: .833rem;
}
@mixin fontSmall {
	font-size: .889rem;
}
@mixin fontBig {
	font-size: 1.056rem;
}
@mixin fontBigger {
	font-size: 1.111rem;
}
@mixin fontBiggest {
	font-size: 1.222rem;
}

/* HTML structure spacing */
@mixin innerSpacing {
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1200px + 1.25rem);
	padding: clamp(2rem, 7vw, 5rem) clamp(1.25rem, 7.9vw, 6rem);

	@media all and (min-width: $mdMinWidth) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@mixin innerSpacingSmall {

	@media all and (min-width: $xsMinWidth) {
		padding-bottom: clamp(2rem, 5.25vw, 4rem);
		padding-top: clamp(2rem, 5.25vw, 4rem);
	}
}

@mixin innerSpacingMedium {

	@media all and (min-width: $xsMinWidth) {
		padding-bottom: clamp(2rem, 7.7vw, 6rem);
		padding-top: clamp(2rem, 7.7vw, 6rem);
	}
}

@mixin innerSpacingLarge {

	@media all and (min-width: $xsMinWidth) {
		padding-bottom: clamp(2rem, 10.5vw, 8rem);
		padding-top: clamp(2rem, 10.5vw, 8rem);
	}
}