.content-header {
	text-align: center;

	@media all and (min-width: $mdMinWidth) {
		text-align: left;
	}

	.content-title {
		margin-bottom: 0;
		max-width: clamp(770px, 70vw, 1200px);

		& + .content-meta,
		& + .content-description {
			margin-top: .75rem;
		}
	}

	.content-meta {
		@include fontSmall;
	}

	.content-description {
		max-width: 768px;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;

		@media all and (min-width: $mdMinWidth) {
			max-width: 60%;
		}
	}
}

.archive {

	.content-header {

		.content-title {
			@include fontSmaller;
			@include headingFont;
			display: block;
			font-weight: 700;
			text-transform: uppercase;

			span {
				@include headingFont;
				display: block;
				font-size: clamp(2rem, 5vw, 4rem);
				font-weight: 700;
				line-height: 1.25;
				margin: 0;
				max-width: clamp(770px, 50vw, 940px);
				text-transform: none;
			}
		}
	}
}

.no-sidebar {

	.content-header {
		text-align: center;

		.content-title {
			margin: 0 auto;
		}

		.content-meta,
		.content-description {
			margin: 1rem auto 0;
		}
	}
}