.v-grid {
	display: grid;
	gap: clamp(1.5rem, 4vw, 3rem);
	grid-template-columns: 100%;

	&.v-gap-2 {

		@media all and (min-width: $smMinWidth) {
			gap: 2rem;
		}
	}

	&.v-gap-1 {
		gap: 1.5rem;
	}

	&.v-grid-columns_2,
	&.v-grid-columns_3,
	&.v-grid-columns_4 {

		@media all and (min-width: $smMinWidth) {
			gap: 3rem 4%;
			grid-template-columns: repeat(2, 48%);
		}
	}

	&.v-grid-columns_3 {

		@media all and (min-width: $mdMinWidth) {
			gap: 2.56rem 3.5%;
			grid-template-columns: repeat(3, 31%);
		}
	}

	&.v-grid-columns_4 {

		@media all and (min-width: $mdMinWidth) {
			gap: 1.5rem 2%;
			grid-template-columns: repeat(4, 23.5%);
		}
	}

	&.v-grid-centered-column {
		grid-template-columns: 100%;

		@media all and (min-width: $mdMinWidth) {
			gap: 1.5rem 2%;
			grid-template-columns: 12% 72% 12%;
		}

		@media all and (min-width: $lgMinWidth) {
			gap: 1.5rem 3%;
			grid-template-columns: 17% 60% 17%;
		}

		.v-grid-centered-column-content {

			@media all and (min-width: $mdMinWidth) {
				grid-column-end: 3;
				grid-column-start: 2;
			}
		}
	}
}