/**
 * Basic grid system based on 4, 3, 2, and 1-column grid layouts
 */
.v-grid {
	display: grid;
	gap: 1.5rem;

	@media all and (min-width: $smMinWidth) {
		gap: 2rem;
	}

	@media all and (min-width: $mdMinWidth) {
		gap: 3rem;
	}

	&.v-gap-2 {

		@media all and (min-width: $smMinWidth) {
			gap: 2rem;
		}
	}

	&.v-gap-1 {
		gap: 1.5rem;
	}

	&.v-grid-columns_2 {

		@media all and (min-width: $smMinWidth) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&.v-grid-columns_3 {

		@media all and (min-width: $smMinWidth) {
			grid-template-columns: 1fr 1fr;
		}

		@media all and (min-width: $mdMinWidth) {
			grid-template-columns: repeat( 3, 1fr );
		}
	}

	&.v-grid-columns_4 {

		@media all and (min-width: $smMinWidth) {
			grid-template-columns: 1fr 1fr;
		}

		@media all and (min-width: $mdMinWidth) {
			grid-template-columns: repeat( 4, 1fr );
		}
	}

	/**
	 * Center column content that has width limits on wider screens
	 */
	&.v-grid-centered-column {
		grid-template-columns: 1fr;

		@media all and (min-width: $mdMinWidth) {
			grid-template-columns: 1fr 5fr 1fr;
		}

		@media all and (min-width: $lgMinWidth) {
			grid-template-columns: 1fr 3fr 1fr;
		}

		.v-grid-centered-column-content {

			@media all and (min-width: $mdMinWidth) {
				grid-column-start: 2;
				grid-column-end: 3;
			}
		}
	}

	/**
	 * Card styles to be used alongside the above grid system
	 */
	[class*="-item-container"] {

		/**
		 * Shared styles across all cards
		 */
		[class*="-item-content-wrap"] {

			[class*="-item-header"] {

				[class*="-item-title"] {
					margin-bottom: 4px;

					a {
						word-break: break-word;
					}
				}

				[class*="-item-meta"] {
					@include fontSmallest;
					display: block;
					line-height: 1;

					a {
						text-decoration: none;

						&:active,
						&:focus,
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}


		/**
		 * Fully styled cards
		 */
		&:not(.v-subdued) {
			border-radius: 8px;

			[class*="-item-content-wrap"] {
				display: flex;
				flex-direction: column;
				height: 100%;

				[class*="-item-media"] {

					img {
						border-radius: 8px 8px 0 0;
						vertical-align: top;
					}
				}

				[class*="-item-header"] {
					padding: 1.25rem 1.25rem .75rem;

					@media all and (min-width: $mdMinWidth) {
						padding: 2rem 2rem 1rem;
					}

					[class*="-item-title"] {

						a {
							text-decoration: none;
						}
					}
				}

				[class*="-item-body"] {
					flex: 1 0 auto;
					padding: .5rem 1.25rem 1rem;

					@media all and (min-width: $mdMinWidth) {
						padding: .5rem 2rem 1.25rem;
					}

					[class*="-item-description"] {
						@include fontSmall;
					}
				}

				[class*="-item-footer"] {
					@include fontSmallest;
					padding: .5rem 1.25rem 1.75rem;

					@media all and (min-width: $mdMinWidth) {
						padding: .5rem 2rem 2.25rem;
					}

					.button {
						@include fontSmallest;
					}
				}
			}
		}


		/**
		 * Lightly design cards
		 */
		&.v-subdued {

			[class*="-item-content-wrap"] {

				[class*="-item-media"] {}

				[class*="-item-header"] {

					[class*="-item-title"] {}

					[class*="-item-meta"] {}
				}

				[class*="-item-body"] {}

				[class*="-item-footer"] {}
			}
		}
	}
}