.site-hero {

	.inner {
		padding-bottom: 5rem;

		@media all and ( min-width: $mdMinWidth ) {
			padding-top: 5rem;
		}
	}
}

.v-hero {

	&.v-hero-centered {
		text-align: center;

		.v-hero-title,
		.v-hero-subtitle,
		.v-hero-primary-cta,
		.v-hero-primary-cta.wp-block-buttons .wp-block-button,
		.v-hero-secondary-cta {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}

	.v-hero-title {
		margin-bottom: .4em;

		@media all and (min-width: $mdMinWidth) {
			max-width: 940px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		& + .v-hero-primary-cta,
		& + .v-hero-secondary-cta {
			margin-top: 2rem;

			@media all and (min-width: $xsMinWidth) {
				margin-top: 3rem;
			}

			@media all and (min-width: $mdMinWidth) {
				margin-top: 6rem;
			}
		}
	}

	.v-hero-subtitle {
		@include fontBig;
		max-width: 665px;

		&:not(:last-child) {
			margin-bottom: 2rem;

			@media all and (min-width: $xsMinWidth) {
				margin-bottom: 3rem;
			}
		}
	}

	.v-hero-primary-cta {
		margin-bottom: 8px;
		max-width: 665px;

		@media all and (min-width: $xsMinWidth) {
			margin-bottom: 12px;

			.v-button,
			.button,
			button,
			&.wp-block-buttons .wp-block-button .wp-block-button__link {
				font-size: 1.3rem;
			}
		}

		&.wp-block-buttons {
			margin-bottom: 8px;

			@media all and (min-width: $xsMinWidth) {
				margin-bottom: 12px;
			}
		}
	}

	.v-hero-secondary-cta {
		@include fontSmall;
	}
}