.v-hero {

	&.v-hero-centered {
		text-align: center;

		.v-hero-title,
		.v-hero-subtitle,
		.v-hero-primary-cta,
		.v-hero-primary-cta.wp-block-buttons .wp-block-button,
		.v-hero-secondary-cta {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}

	.v-hero-title {
		margin-bottom: .4em;

		@media all and (min-width: $mdMinWidth) {
			max-width: 940px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		& + .v-hero-primary-cta,
		& + .v-hero-secondary-cta {
			margin-top: clamp(2rem, 8vw, 6rem);
		}
	}

	.v-hero-subtitle {
		@include fontBig;
		max-width: 665px;

		&:not(:last-child) {
			margin-bottom: clamp(2rem, 4vw, 3rem);
		}
	}

	.v-hero-primary-cta {
		margin-bottom: 8px;
		max-width: 665px;

		@media all and (min-width: $xsMinWidth) {
			margin-bottom: 12px;

			.v-button,
			.button,
			button,
			&.wp-block-buttons .wp-block-button .wp-block-button__link {
				@include fontBiggest;
			}
		}

		&.wp-block-buttons {
			margin-bottom: clamp(8px, .8vw, 12px);
		}
	}

	.v-hero-secondary-cta {
		@include fontSmall;
	}
}