.alignleft,
[class*="wp-block-"] .alignleft {
	margin-bottom: 1.5rem;

	@media all and (min-width: $xsMinWidth) {
		float: left;
		margin-right: clamp(1.5rem, 3.5vw, 3rem);
	}
}

.alignright,
[class*="wp-block-"] .alignright {
	margin-bottom: 1.5rem;

	@media all and (min-width: $xsMinWidth) {
		float: right;
		margin-left: clamp(1.5rem, 3.5vw, 3rem);
	}
}

.v-subdued-title {
	@include fontSmallest;
	@include headingFont;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}

.v-subdued-link-container {

	a {
		@include fontSmall;
	}
}

.v-text-align-center {
	text-align: center;
}

.section-footer-cta {
	padding-top: clamp(1rem, 2.5vw, 2rem);
}

.v-dark-background {

	input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
	textarea,
	.v-dark-background table,
	.v-dark-background table th,
	.v-dark-background table td {
		border-style: solid;
		border-width: 2px;
	}
}