.alignleft,
[class*="wp-block-"] .alignleft {
	margin-bottom: 1.5rem;

	@media all and (min-width: $xsMinWidth) {
		float: left;
		margin-right: 1.5rem;
	}

	@media all and (min-width: $mdMinWidth) {
		margin-right: 3rem;
	}
}

.alignright,
[class*="wp-block-"] .alignright {
	margin-bottom: 1.5rem;

	@media all and (min-width: $xsMinWidth) {
		float: right;
		margin-left: 1.5rem;
	}

	@media all and (min-width: $lgMinWidth) {
		margin-left: 3rem;
	}
}

.v-subdued-title {
	@include fontSmaller;
	@include headingFont;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}

.v-subdued-link-container {

	a {
		@include fontSmaller;
	}
}

.v-text-align-center {
	text-align: center;
}

.v-dark-background {

	input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
	textarea,
	.v-dark-background table,
	.v-dark-background table th,
	.v-dark-background table td {
		border-style: solid;
		border-width: 2px;
	}
}