.alignleft,
[class*="wp-block-"] .alignleft {
	margin-bottom: 1.5rem;

	@media all and (min-width: $xsMinWidth) {
		float: left;
		margin-right: clamp(1.5rem, 3.5vw, 3rem);
	}
}

.alignright,
[class*="wp-block-"] .alignright {
	margin-bottom: 1.5rem;

	@media all and (min-width: $xsMinWidth) {
		float: right;
		margin-left: clamp(1.5rem, 3.5vw, 3rem);
	}
}