.v-dark-background {
	background: $baseColor;
	color: #fff;

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {

		a {
			color: lighten( $linkColor, 30% );
		}
	}

	a,
	h4,.h4,
	h6, .h6,
	blockquote,
	address,
	cite,
	q,
	code,
	kbd,
	tt,
	var,
	strike,
	del {
		color: lighten( $linkColor, 35% );
	}

	pre,
	dl,
	code,
	kbd,
	tt,
	var {
		background: lighten( $baseColor, 3% );
	}

	table {
		border: 2px solid darken( $baseColor, 10% );

		th, td {
			border: 2px solid darken( $baseColor, 10% );
		}

		th {
			background: lighten( $baseColor, 3% );
		}
	}

	.button,
	.v-button,
	button,
	[type="button"],
	[type="submit"],
	[type="reset"],
	.wp-block-buttons > .wp-block-button .wp-block-button__link,
	.wp-block-file .wp-block-file__button {
		background: $linkColor;
		color: #fff;

		&:active,
		&:focus,
		&:hover {
			background: darken( $linkColor, 10% );
		}
	}

	input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]), textarea {
		border: 2px solid $linkColor;

		&:active,
		&:focus {
			border-color: darken( $linkColor, 10% );
		}
	}
}

.v-gray-background {
	background: $lightBackground;
}