.site-hero {

	.inner {

		.hero {

			& > [class*="-title"] {
				margin-bottom: .4em;

				@media all and (min-width: $mdMinWidth) {
					font-size: 5rem;
				}

				&:last-child {
					margin-bottom: 0;
				}

				& + .primary-cta-container,
				& + .secondary-cta-container {
					margin-top: 2rem;

					@media all and (min-width: $xsMinWidth) {
						margin-top: 3rem;
					}

					@media all and (min-width: $mdMinWidth) {
						margin-top: 6rem;
					}
				}
			}

			& > [class*="-subtitle"],
			& > [class*="-description"] {
				@include fontSmaller;
				max-width: 665px;

				@media all and (min-width: $xsMinWidth) {
					@include fontSmall;
				}

				@media all and (min-width: $smMinWidth) {
					@include bodyFont;
				}

				@media all and (min-width: $mdMinWidth) {
					@include fontBig;
				}

				&:not(:last-child) {
					margin-bottom: 2rem;

					@media all and (min-width: $xsMinWidth) {
						margin-bottom: 3rem;
					}

					@media all and (min-width: $mdMinWidth) {
						margin-bottom: 6rem;
					}
				}
			}

			& .primary-cta-container {
				@include fontSmaller;
				margin-bottom: 8px;
				max-width: 665px;

				@media all and (min-width: $xsMinWidth) {
					@include bodyFont;
					margin-bottom: 12px;
				}
			}

			& .secondary-cta-container {

				.secondary-cta {
					@include fontSmaller;
				}
			}
		}
	}
}