.jumbo-header {

	.inner {

		& > [class*="-title"] {
			margin-bottom: .75rem;
			max-width: 770px;

			@media all and (min-width: $lgMinWidth) {
				max-width: 940px;
			}
		}

		& > [class*="-meta"],
		& > [class*="-description"] {
			@include fontSmallest;
			max-width: 765px;

			@media all and (min-width: $smMinWidth) {
				@include fontSmaller;
			}
		}

		& > [class*="-content-container"] {
			display: flex;
			flex-direction: column;
			gap: .5rem;

			@media all and (min-width: $mdMinWidth) {
				align-items: center;
				flex-direction: row;
				gap: 1.5rem;
				justify-content: space-between;
			}

			& > [class*="-content-left"] {}

			& > [class*="-content-right"] {}
		}
	}
}

.no-sidebar {

	.jumbo-header {
		text-align: center;

		.inner {

			& > [class*="-title"] {
				margin: 0 auto .75rem;
			}

			& > [class*="-meta"],
			& > [class*="-description"] {
				margin: 1rem auto 0;
			}
		}
	}
}