.site-hero {

	.inner {

		.hero {

			& > [class*="-title"] {

				@media all and (min-width: $mdMinWidth) {
					font-size: 5rem;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			& > [class*="-description"] {
				@include bodyFontSmaller;
				max-width: 765px;

				@media all and (min-width: $smMinWidth) {
					@include bodyFontSmall;
				}
			}
		}
	}
}