:root {
	--action: hsl(var(--triadic-accent-hue-1) var(--global-hue-saturation) 32%);
	--action-dark: hsl(var(--triadic-accent-hue-1) var(--global-hue-saturation) 23%);

	--accent: hsl(var(--triadic-accent-hue-2) var(--global-hue-saturation) 36%);
	--accent-dark: hsl(var(--triadic-accent-hue-2) var(--global-hue-saturation) 27%);

	--extra-accent: hsl(var(--triadic-accent-hue-2) var(--global-hue-saturation) 36%);
	--extra-accent-dark: hsl(var(--triadic-accent-hue-2) var(--global-hue-saturation) 27%);
}