.fat-footer {
	@include bodyFontSmaller;
	background: $lightBackground;

	& > .inner {
		padding-bottom: 0;

		.fat-footer-areas {
			border-bottom: 2px solid darken( $lightBackground, 5% );
			padding-bottom: 2rem;

			@media all and (min-width: $xsMinWidth) {
				padding-bottom: 3rem;
			}

			.widget {

				&:not(:last-child) {
					margin-bottom: 1.25rem;
				}
			}
		}
	}
}

.site-footer {
	background: $lightBackground;
	@include bodyFontSmaller;

	.inner {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;

		@media all and (min-width: $mdMinWidth) {
			display: flex;
			justify-content: space-between;
		}

		.site-name {

			.blog-name {
				font-weight: 700;
			}

			.site-copyright {
				font-weight: 400;
			}
		}
	}
}