.button,
button,
[type="button"],
[type="submit"],
[type="reset"],
.v-button {
	background: $baseColor;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	height: 3em;
	letter-spacing: 1px;
	line-height: 1;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;

	&:active,
	&:focus,
	&:hover {
		background: $linkColor;
		text-decoration: none;
	}

	&.large {
		font-size: 1.15rem;
	}
}

input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]) {
	height: 3em;
}

input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]),
textarea {
	border: 2px solid $baseColor;
	border-radius: 3px;
	padding: 7px 9px;
	vertical-align: bottom;

	&:active,
	&:focus {
		border-color: $linkColor;
	}
}