#masthead {
	background: $lightBackground;

	.inner:not(.medium) {
		display: flex;
		justify-content: space-between;
		padding-bottom: 2rem;
		padding-top: 2rem;

		& > * {
			align-self: center;
		}
	}

	.site-title {
		font-weight: 900;
		font-size: 1.25rem;
		line-height: 1;
		margin: 0;

		a {
			color: $baseColor;
			line-height: 1;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				color: $linkColor;
			}
		}
	}
}