@mixin headingFont {
	font-family: 'Red Hat Display', sans-serif;
}

@mixin bodyFont {
	font-family: 'Red Hat Text', sans-serif;
	@include bodyFontSmall;

	@media all and (min-width: $xsMinWidth) {
		font-size: 18px;
		line-height: 1.6;
	}
}

@mixin bodyFontSmall {
	font-size: 17px;
	line-height: 1.5;
}