$HTMLBackground: #fff;
$bodyBackground: #fff;

$contentColor: #313940;
$linkColor: lighten( $contentColor, 15% );

$lightBackground: lighten( $contentColor, 75% );

/* Min-width Breakpoints */
$xsMinWidth: 560px;
$smMinWidth: 768px;
$mdMinWidth: 992px;
$lgMinWidth: 1200px;
$xlMinWidth: 1540px;